<mat-form-field class="case-picker" [formGroup]="ParentControl">
  <input type="text" placeholder="Projekty"  formControlName="case" aria-label="Number" matInput [matAutocomplete]="auto" (input)="onFilterCases($event.target.value)">
  <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let case of filteredCases | async" [value]="case.Name" (onSelectionChange)="onPickCase($event, case)">
          {{case.Order}} {{case.Name}}
      </mat-option>
  </mat-autocomplete>
</mat-form-field>
 