.add-memo-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.add-memo {
    background-color: #222222;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.add-memo:hover {
    background-color: #d4d4d4;
    padding: 10px;
    color: #222222;
}

.memo-title { 
    cursor: pointer;
}

.memo-title:hover {
    text-decoration: underline;
    
}
