<div style="width:100%; height: 100%; position:relative">
    <div style="padding-left: 3%; width: 97%">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%">

            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tytuł </th>
                <td mat-cell *matCellDef="let element" (click)="openMemoPanel(element)" class="memo-title"> {{element.Title }} </td>
            </ng-container>

            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis </th>
                <td mat-cell *matCellDef="let element"> {{element.Description }} </td>
            </ng-container>

            <ng-container matColumnDef="Time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Data </th>
                <td mat-cell *matCellDef="let element"> {{element.Time  | date:'yyyy-MM-dd'  }} </td>
            </ng-container>

            <ng-container matColumnDef="Username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Użytkownik </th>
                <td mat-cell *matCellDef="let element"> {{element.Assignee.Name }} </td>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Usuń </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <button mat-icon-button (click)="onDeleteMemo(element,i)">
                        <div style="text-align:center">
                            <fa-icon [icon]="faTrash">delete</fa-icon>
                        </div>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="add-memo-container">
        <div class="add-memo" (click)="openNewMemoPanel()">Dodaj Notatkę</div>
    </div>
</div>