<table class="table" style="color: #222222; background-color: white; border-top: none; margin: 0px;">
    <thead style="border-top: none">
      <tr class="table-name-bg">
        <th scope="col">#</th>
        <th class="table-sort-name" *ngFor="let tableSubName of tableSubNames; let subNameId = index;" scope="col">
            <div (click)="sortSubTablesData(i, subNameId, tableSubName)" *ngIf="pickedSort !== tableSubName && pickedReverse !== tableSubName">{{tableSubName}} </div>
            <div class="name-underlined" (click)="sortReverseSubTableData(i, tableSubName)" *ngIf="pickedSort === tableSubName">{{tableSubName}}<fa-icon style="padding-left:2px; color: #646464" [icon]='faAngleDown'></fa-icon></div>
            <div class="name-underlined" (click)="sortSubTablesData(i, subNameId, tableSubName)" *ngIf="pickedReverse === tableSubName">{{tableSubName}}<fa-icon style="padding-left:2px; color: #646464" [icon]='faAngleUp'></fa-icon></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subData of data[tableSubDataObject]; let j = index">
        <th>{{j + 1}}</th>
        <td *ngFor="let tableSubObject of tableSubObjects; let tableSubObjectsIndex = index">
          <div style="cursor: pointer" (click)="subEdit(subData)" *ngIf="tableSubObject === 'faEdit'">
            <fa-icon [icon]="faEdit"></fa-icon>
          </div>
          <div style="cursor: pointer" (click)="subRemove(subData)" *ngIf="tableSubObject === 'faTrash'">
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>

          <div *ngIf="SubObjectsDate.includes(tableSubObjectsIndex) && tableSubObject !== 'faEdit' && tableSubObject !== 'faTrash'">
            {{ subData[tableSubObject] | date:'yyyy-MM-dd' }}
          </div>
          <div *ngIf="!SubObjectsDate.includes(tableSubObjectsIndex ) && tableSubObject !== 'faTrash'  && tableSubObject !== 'faEdit'">
            {{ subData[tableSubObject] }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>