table {
    width: 100%;
    float: left;
    text-align: left;
}

.table-filters {
    width: 100%;
    background-color: #222222;
    float: left;
    overflow: auto;
}

.table-container {
    width: 100%;
    float: left;
    color: #222222;
    background-color: white;
    border-bottom: 1px solid #d4d4d4;
}

.tr-border {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

tr {
    font-size: 14px;
}

td{
    padding: 14px;
}

.inner-table {
    width: 100%;
    padding-left: 30px;
    overflow: auto;
}

.tr-name {
    background-color: #dfdfdf;
    color: #222222;
}

.tr-sub-name {
    background: #fcfcfc;
}
.tr-non-visible {
    display: none;
}

.tr-visible {
    display: visible;
}

.td-sub {
    background-color: white;
}

.td-main {
    background: #f5f5f5;
}

.table-plain tbody tr,
.table-plain tbody tr:hover,
.table-plain tbody td {
  background-color:transparent;
  border:none;
}

.table-name-bg {
    background-color: #f3f3f3;
}

.table-record-bg {
    background-color: #fcfcfc;
}

.name-underline {
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

.name-underline:hover {
    border-bottom: 3px solid black;
}

.table-sort-name {
    cursor: pointer;
}