mat-form-field {
    width: 100%;
    padding: 20px;
    float: left;
}

.header {
    width: 100%;
    background-color: #222222;
    color: white;
    padding: 10px;
}

.radio-buttons {
    float: right;
    width: 100%;
    padding: 20px;
}

.button {
    float: right;
    padding: 10px;
    color: white;
    background-color: #222222;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #d4d4d4;
}
