<div class="header" *ngIf="data.Type !== 'edit'">
  Nowy Szablon
</div>

<div class="header" *ngIf="data.Type === 'edit'">
  {{ newTemplate.Name }}
</div>
<form [formGroup]='NewTemplateForm'>
  <div style="float: left; width: 50%; padding-top: 20px">

    <mat-form-field>
      <input formControlName="name" matInput placeholder="Nazwa Szablonu*">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="caseName" matInput placeholder="Nazwa Projektu">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="order" matInput placeholder="Numer Projektu">
    </mat-form-field>

    <div style="width: 100%; padding: 20px;">
      <app-client-picker [ParentForm]="NewTemplateForm"></app-client-picker>
    </div>
    <div style="width: 100%; float: left;">
      <div>Typ Pracowni Należy Wybrać</div>
      <app-tags-picker *ngIf="data.Type === 'edit' && newTemplate.CaseTagChild === null" [PickedParentTagId]="newTemplate.CaseTagParentId" [ShowTaskTags]="false"></app-tags-picker>
      <app-tags-picker *ngIf="data.Type === 'edit' && newTemplate.CaseTagChild !== null" [PickedParentTagId]="newTemplate.CaseTagParentId" [PickedChildTagId]="newTemplate.CaseTagChildId" [ShowTaskTags]="false"></app-tags-picker>
      <app-tags-picker *ngIf="data.Type !== 'edit'" [ShowTaskTags]="false"></app-tags-picker>
    </div>
  </div>

  <div style="float: right; width: 50%; padding-top: 20px">
    <section style="width: 100%; float: left;">
      <mat-form-field class="example-margin">
        <input matInput type="number" formControlName="timeEstimated"
          placeholder="Czas Przwidywany Dla Projektu* (Roboczogodziny)">
      </mat-form-field>
    </section>
    <app-priority-picker [pickedPriorityId]="newTemplate.PriorityId"></app-priority-picker>
    <mat-form-field>
      <textarea matInput placeholder="Opis" formControlName="description" style="float: right"></textarea>
    </mat-form-field>
  </div>
  * - Obowiązkowe Pola
  <div style="width: 100%; float: left; overflow: auto;">
    <button (click)="onSubmit()" *ngIf="data.Type !== 'edit'" type="submit" class="button">Dodaj Szablon</button>
    <button (click)="onSubmit()" *ngIf="data.Type === 'edit'" class="button">Edytuj Szablon</button>
    <button (click)="onClose()" class="button" style="margin-right: 5px;">Wróć</button>
  </div>
</form>