<div style="height:20px; width:100%; border: 1px solid #dddddd">
    <div style="height: 100%" [style.width.%]="width"
    [ngClass]="{ 'time-bar-taken': width <= 50, 'time-bar-taken-red' : width >= 80, 'time-bar-taken-yellow' : width > 50 && width < 80}"
    ></div>
</div>