.time-bar-taken {
    height: 100%;
    background-color: rgb(4, 134, 4);
    float: left;
  }
  
  .time-bar-taken-red {
      height: 100%;
      background-color: #FF6859;
      float: left;
  }
  
  .time-bar-taken-yellow {
      height: 100%;
      background-color: #FFCF44;
      float: left;
  }