<div [ngClass]="{ 'button-container': caseButton , 'button-container-collapsed': !caseButton }">
  <div style="width: 100%; height: 100%; position: relative; text-align: center; color: white">
    <div class="main-button" (click)="caseButton = !caseButton">
      <div [ngClass]="{ 'plus': !caseButton , 'plus-collapsed': caseButton }">
        <fa-icon [icon]="faPlus"></fa-icon>
      </div>
    </div>
    <div [ngClass]="{ 'top-button': caseButton, 'top-button-collapsed': !caseButton }" style="padding-top: 1px" (click)=" openTopDialog()" >
        <app-icon-popover [Icon]="TopIcon" [Text]="TopText"></app-icon-popover>
    </div>
    <div [ngClass]="{ 'middle-button': caseButton, 'middle-button-collapsed': !caseButton }" (click)=" openMiddleDialog()"
      style="padding-top: 1px">
      <app-icon-popover [Icon]="MiddleIcon" [Text]="MiddleText"></app-icon-popover>
    </div>
    <div [ngClass]="{ 'middle-bottom-button': caseButton, 'middle-bottom-button-collapsed': !caseButton }" (click)="openMiddleBottomDialog()"
     style="padding-top: 1px">
      <app-icon-popover [Icon]="MiddleBottomIcon" [Text]="MiddleBottomText"></app-icon-popover>
    </div>
    <div [ngClass]="{ 'bottom-button': caseButton, 'bottom-button-collapsed': !caseButton }" (click)=" openBottomDialog()"
      style="padding-top: 1px">
      <app-icon-popover [Icon]="BottomIcon" [Text]="BottomText"></app-icon-popover>
    </div>
  </div>
</div>