<div class="header" *ngIf="data.Type !== 'edit'">
    Nowa Notatka
</div>

<div class="header" *ngIf="data.Type === 'edit'">
    {{ newMemo.Title }}
</div>
<form [formGroup]='NewMemoForm'>
    <div style="float: left; width: 100%; padding-top: 20px">
        <mat-form-field>
            <input formControlName="title" matInput placeholder="Tytuł"  required>
            <mat-error>To pole nie może być puste.</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <textarea formControlName="description" matInput placeholder="Opis" rows="10" ></textarea>
        </mat-form-field>
    <div style="float: right; width: 50%; padding-top: 20px">
        <div style="width: 100%; float: left;">
            <app-group-user-picker [ShowOnlyUser]="true" [ParentControl]="NewMemoForm"></app-group-user-picker>
        </div>        
    </div>
    <div style="width: 100%; float: left; overflow: auto;">
        <button  (click)="OnAddClick()" class="button">Dodaj Notatke</button>
        <button  (click)="OnCancelClick()" class="button">Anuluj</button>
    </div>







                  
                
