<div class="case-tags-picker" [style.paddingTop.px]='CasePaddingTop' *ngIf="ShowCaseTags">
  <app-case-tags-picker [PickedChildTagId]="PickedChildTagId" [PickedParentTagId]="PickedParentTagId" [AllowEdit]="AllowEdit"></app-case-tags-picker>
</div>

<div class="task-tags-picker" [style.paddingTop.px]='TaskPaddingTop' *ngIf="ShowTaskTags">
  <app-task-tags-picker  [AllowEdit]="AllowEdit" [CaseTagId]="CaseTagId" [PickedMainTagId]="PickedMainTagId" [PickedAccessoryTagId]="PickedAccessoryTagId" [PickedAccessoryMinorTagId]="PickedAccessoryMinorTagId"></app-task-tags-picker>
</div>
