@keyframes case-visibility {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
   
  .case-header {
    background-color: #222222;
    padding: 10px;
    padding-right: 25px;
    height: 13%;
    color: white;
    position: relative;
  }
  
  .go-to {
    background-color: white;
    color: #222222;
    float: right;
    text-align: right;
    padding-top:15px;
  }

  .go-to-container {
      width: 60%;
      height: 13%;
      float: left;
      overflow: auto;
  }
  
  .case-description {
    padding: 10px;
    padding-bottom: 0;
    height: 74%;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
  }
  
  .case-user {
    background-color: white;
    color:  #222222;
    float: left;
    width: 40%;
    height: 13%;
    text-align: left;
    position: relative;
  }
  
  

  .hyperlink {
    cursor: pointer;
    text-align: right;
   text-decoration: underline; 
}

.hyperlink :hover{
    color: grey;
}
  
  @media (min-width: 960px) and (max-width: 1360px){
    .case-padding {
      width: 50%;
    }
  
  }
  
  //#small devices
  
  
  @media (max-width: 960px) {

    .case-user {
      width: 100%;
      height: 70px;
      text-align: left;
      border: none;
      border-bottom: 1px solid #d4d4d4;
    }
  
    .case {
      width: 100%;
      height: 220px;
      border: 0.5px solid #d4d4d4;
    }
  
  }
  
  .bordered-top {
    background-image: linear-gradient(to right, #045D56 20%, rgb(4, 134, 4) 20%, rgb(4, 134, 4) 60%, #1EB890 60%, #1EB890 80%, #045D56 80%);
    background-size: 100% 100%;
    width: 100%;
    height: 1px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
  }

  