<div class="case-header">
  {{ newMemo.Title }}
</div>
<div class="case-description">
  {{ newMemo.Description }}
</div>
<div class="case-user">
  <fa-icon [icon]="faUserAlt" style="font-size: 30px;"></fa-icon>
   {{ newMemo.Reporter.Name }}
</div>
<div class="go-to-container">
  <div
    class="go-to hyperlink"
    *ngIf="newMemo.Type === 'Case'"
    (click)="showCasePanel(newCase)"
  >
    Zlecenie: Przejdź do.
  </div>
  <div
    class="go-to hyperlink"
    *ngIf="newMemo.Type === 'Task'"
    (click)="showTaskPanel(newTask)"
  >
    Zadanie: Przejdź do.
  </div>
</div>
