.tags-container {
    width: 100%;
    height: 150px;
    border: 1px solid #d4d4d4;
    float: left;
    text-align: center;
    overflow-y: scroll;
    background-color: white;
    border-bottom: 1px solid #222222;
}

.tag {
    border-bottom: 1px solid #d4d4d4;
    padding: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: #d4d4d4;
}

.case-tag-input {
    width: 100%;
   outline: none;
   border: none;
   padding: 5px;
}

.case-tag-input-container {
    width: 100%;
    background-color: white;
    border: 1px solid #d4d4d4;
    border-top: none;
    float: left;
}

.case-text-container {
    width: 100%;
    float: left;
}

.case-tag-button {
    background-color: white;
    display: inline-block;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-top: none;
    cursor: pointer;
}

.case-tag-button:hover {
    background-color: #d4d4d4;
    color: #222222;
}