
<div style="width: 50%; float: left;">
  <div class="case-text-container">Typ Pracowni</div>
  <div class="tags-container">
      <div *ngFor="let tag of ParentTags">
        <div class="tag" (click)="PickParentTag(tag)" *ngIf="tag.Id !== PickedParentTagId">{{ tag.Name }}
        </div>
        <div class="tag" style="background-color: #d4d4d4" (click)="nullParentTags()" *ngIf="tag.Id === PickedParentTagId">{{ tag.Name }}
      </div>
      </div>
    </div>
    <div class="case-tag-input-container" *ngIf="AllowEdit">
        <input *ngIf="PickedParentTagId != null" class="case-tag-input" [(ngModel)]="EditParentTagName" placeholder="Edytuj Wybraną Nazwę Pracowni">
        <input *ngIf="PickedParentTagId == null" class="case-tag-input" [(ngModel)]="NewCaseParentTag.Name" placeholder="Nazwa Pracowni">
    </div>
    <div class="case-text-container" *ngIf="AllowEdit">
        <div *ngIf="PickedParentTagId == null" class="case-tag-button" (click)="addCaseParentTag()">Dodaj Pracownię</div>
        <div *ngIf="PickedParentTagId != null" class="case-tag-button" (click)="editPickedParentTag()">Edytuj Pracownię</div>
        <div class="case-tag-button" style="float: right" (click)="removeCaseParentTag()" >Usuń Pracownię</div>
    </div>
</div>
<div style="width: 50%; float: left;">
  <div class="case-text-container">Typ Projektu</div>

  <div class="tags-container" style="border-left: none;">
    <div *ngFor="let tag of ChildTags">
      <div class="tag" (click)="pickChildTag(tag)" *ngIf="tag.Id !== PickedChildTagId">{{ tag.Name }}
      </div>
      <div class="tag" style="background-color: #d4d4d4" (click)="nullChildTags()"  *ngIf="tag.Id === PickedChildTagId">{{ tag.Name }}
      </div>
    </div>
  </div>
  
  
  <div class="case-tag-input-container" style="border-left: none;" *ngIf="AllowEdit">
      <input *ngIf="PickedChildTagId != null" class="case-tag-input" [(ngModel)]="EditChildTagName" placeholder="Edytuj Wybrany Typ Projektu">
      <input *ngIf="PickedChildTagId == null" class="case-tag-input" [(ngModel)]="NewCaseChildTag.Name" placeholder="Nazwa Typu Projektu">
    </div>
  <div></div>
  
  <div class="case-text-container" *ngIf="AllowEdit">
      <div *ngIf="PickedChildTagId == null" class="case-tag-button" (click)="addCaseChildTag()">Dodaj Typ Projektu</div>
      <div *ngIf="PickedChildTagId != null" class="case-tag-button" (click)="editPickedChildTag()">Edytuj Typ Projektu</div>
      <div class="case-tag-button" (click)="removeCaseChildTag()" style="float: right" >Usuń Typ Projektu</div>
  </div>

      
</div>
