.date-submit-button{
    padding: 8px;
    background-color: #222222;
    color: white;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    float: right;
}

.date-submit-button:hover {
    color: #222222;
    background-color: #d4d4d4;
}

.year-picker {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
