<div class="last-seen-title">
    Powiadomienia
    <fa-icon style="float: right" class="show-button" *ngIf="!showNotifications" [icon]="faChevronCircleDown" (click)="showNotifications = !showNotifications">
    </fa-icon>
    <fa-icon style="float: right" class="show-button" *ngIf="showNotifications" [icon]="faChevronCircleUp" (click)="showNotifications = !showNotifications">
      </fa-icon>
  </div>
<div class="last-seen-entry-container" *ngIf="showNotifications">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Wiadomość</th>
        <th scope="col" >Przejdz do </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of Notifications; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{notification.Message}}</td>
        <td *ngIf="notification.TaskId != null">
          <fa-icon style="cursor:pointer" [routerLink]="['/tasks', notification.TaskId]" [icon]="faArrow"></fa-icon>
        </td>
        <td *ngIf="notification.TaskId == null">
          <fa-icon style="cursor:pointer" [routerLink]="['/cases', notification.CaseId]" [icon]="faArrow"></fa-icon>
        </td>
      </tr>

    </tbody>
  </table>
</div>