.table-date-filter {
    float: left;
    color: #222222;
    height: 100%;
    width: 20%;
    padding-top: 5px;
    z-index: 5;
}

.table-container-filters {
    float: left;
    width: 100%;
    height: 100vh;
    overflow: auto;
    overflow-y: scroll;
    position: relative;
}

.table-filter-panel {
    position: absolute;
    left: 700px;
    width: 200px;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    color: #222222;
    cursor: pointer;
    padding-top: 13px;
    z-index: 5;
}
.table-export-panel {
    position: absolute;
    left: 900px;
    width: 200px;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    color: #222222;
    cursor: pointer;
    padding-top: 13px;
    border-left: 1px solid #d4d4d4;
}
.table-export-panel:hover {
    background-color: #d4d4d4;
}

.table-date-filter-conatiner {
    position: absolute;
    left: 200px;
    width: 300px;
    overflow: auto;
    height: 50px;
    float:left;
    background-color: white;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    z-index: 5;
}

.table-date-type-outer {
    position: relative;
}

.table-date-type-entry {
    position: absolute;
    top:50px;
}

.table-date-type-conatiner {
    position: absolute;
    left: 0%;
    width: 200px;
    color: #222222;
    text-align: center;
    background-color: white;
    border-right: 1px solid #d4d4d4;
    z-index: 5;
}

.table-filters {
    width: 100%;
    height: 50px;
    position: absolute;
    text-align: center;
    left: 0px;
    background-color: #222222;
    z-index: 5;
}

.table-types {
    position: absolute;
    left: 500px;
    width: 200px;
    color: #222222;
    text-align: center;
    border-right: 1px solid #d4d4d4;
    z-index: 5;
}

.table-type {
    width: 100%;
    float: left;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;
    padding-top: 15px;
}

.table-type:hover {
    background-color: #d4d4d4;
}

.table-filter-panel:hover {
    background-color: #d4d4d4;
}

.table-month-picker {
    overflow: auto;
    padding-top: 5px;
}

.excel-export {
    position: fixed;
    right: 3vw;
    bottom: 3vh; 
    width: 35px; 
    height: 35px; 
    z-index: 5; 
    border-radius: 20px; 
    background-color: #015f0a; 
    cursor: pointer;
}

.excel-export:hover {
    background-color: #00b612; 
}

.filter-name {
    padding: 15px;
}