<div class="table-container-filters">
  <div class="table-filters">
    <div class="table-date-filter-conatiner">
      <div *ngIf="pickedDateNumber === 0">
        <div class="table-date-filter" style="float: left;">
          <input type="hidden" [matDatepicker]="picker" [(ngModel)]="startDate" (ngModelChange)="changeDate()"
            style="float: left;">
          <mat-datepicker-toggle [for]="picker" style="float: left;"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker style="float: left;"></mat-datepicker>
        </div>
        <div style="float: left; color: #222222; padding-top: 13px;">{{ startDate | date:'yyyy-MM-dd' }} - {{ endDate |
          date:'yyyy-MM-dd' }}</div>
        <div class="table-date-filter" style="float:right">

          <input type="hidden" [matDatepicker]="picker1" [(ngModel)]="endDate" (ngModelChange)="changeDate()"
            style="float:right">
          <mat-datepicker-toggle [for]="picker1" style="float:right"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker1 style="float:right"></mat-datepicker>
        </div>
      </div>
      <div *ngIf="pickedDateNumber === 1">
        <div class="table-date-filter"
          style="float: left; font-size: 23px; padding-top: 6px; color: #8a8a8a; cursor: pointer;"
          (click)="openMonthPicker()">
          <fa-icon [icon]="faCalendarAlt"></fa-icon>
        </div>
        <div style="float: left; color: #222222; padding-top: 13px;">{{ startDate | date:'yyyy-MM' }}</div>
      </div>

      <div *ngIf="pickedDateNumber === 2">
        <div class="table-date-filter"
          style="float: left; font-size: 23px; padding-top: 6px; color: #8a8a8a; cursor: pointer;"
          (click)="openQuarterPicker()">
          <fa-icon [icon]="faCalendarAlt"></fa-icon>
        </div>
        <div style="float: left; color: #222222; padding-top: 13px;">{{ startDate | date:'yyyy-MM-dd' }} - {{ endDate |
            date:'yyyy-MM-dd' }}</div>
      </div>

      <div *ngIf="pickedDateNumber === 3">
        <div class="table-date-filter"
          style="float: left; font-size: 23px; padding-top: 6px; color: #8a8a8a; cursor: pointer;"
          (click)="openYearPicker()">
          <fa-icon [icon]="faCalendarAlt"></fa-icon>
        </div>
        <div style="float: left; color: #222222; padding-top: 13px;">{{ startDate | date:'yyyy' }}</div>
      </div>
    </div>
    <div class="table-export-panel" style="left: 900px; width: 150px" *ngIf="showSubTable"
      (click)='showSubTable = !showSubTable'>Zwiń</div>
    <div class="table-export-panel" style="left: 900px; width: 150px" *ngIf="!showSubTable"
      (click)='showSubTable = !showSubTable'>Rozwiń</div>
  </div>
  <div class="table-types">
    <div class="tables-types-outer">
      <div (click)="tableTypesExpanded = !tableTypesExpanded" class="table-type">{{pickedType}}</div>
      <div *ngIf="tableTypesExpanded">
        <div *ngFor='let tableType of tableTypes; let i = index' class="table-type"
          (click)="changeTableType(tableType, i)">{{tableType}}</div>
      </div>
    </div>
  </div>
  <div class="table-date-type-conatiner">
    <div class="table-date-type-outer">
      <div class="table-type" (click)="dateTypesExpanded = !dateTypesExpanded"> {{dateTypes[pickedDateNumber]}}
        <div style="float:right; color: #707070; font-size: 20px; padding-right: 5px">
          <fa-icon [icon]="faAngleDown"></fa-icon>
        </div>
      </div>
      <div *ngIf="dateTypesExpanded">
        <div *ngFor='let dateType of dateTypes; let k = index' class="table-type" (click)="changeDateType(k)">
          {{ dateType }}
        </div>
      </div>
    </div>
  </div>

  <div class="table-filter-panel" (click)='openFilterPanel()'>
    Filtry
  </div>

  <div style="width: 100%; overflow: auto; float: left; position: absolute; top: 50px">
    <mat-tab-group>
      <mat-tab label="Zestawienia">
        <div style="color: #222222; text-align: left; margin-left: 30%;">
          <h3 style="text-align: center; margin-right: 40%">Wybrane Filtry</h3>
          <p> <a class="filter-name"> Nazwa Projektu: <strong>{{filterNames.Case}}</strong> </a> <a class="filter-name">
              Typ Pracowni: <strong>{{filterNames.CaseTagParent}}</strong> </a>
            <a class="filter-name"> Typ Projektu:<strong>{{filterNames.CaseTagChild}}</strong></a></p>
          <p> <a class="filter-name">Typ Zadania: <strong>{{subFilterNames.TaskTagMain}}</strong> </a> <a class="filter-name"> Etap
              Zadania: <strong>{{subFilterNames.TaskTagAccessory}}</strong></a> <a class="filter-name"> Etap Podzadania:
                  <strong>{{subFilterNames.TaskTagAccessoryMinor}}</strong> </a></p>
          <p> <a class="filter-name">Wybrany Użytkownik: <strong>{{filterNames.User}}</strong></a> <a class="filter-name"> Wybrana Grupa:
              <strong>{{filterNames.Group}}</strong></a></p>
              <p> <a class="filter-name">Wybrany Okres Czasu: <strong>{{filter.StartTime | date:'yyyy-MM-dd'}} - {{filter.FinishTime | date:'yyyy-MM-dd'}}</strong></a></p>

        </div>
        <app-table *ngIf="pickedTypeNumber === 0" [tableData]='tableData'
          [tableNames]='["Nazwa Projektu", "Numer Projektu", "Data Początku", "Data Końca", "Czas Rzeczywisty", "Czas Przewidywany", "Pozostały Czas", "W Wybranym Okresie Czasu", "Status"]'
          [SortTypeMain]='["string", "string", "date", "date", "number", "number", "number", "number", "string"]'
          [tableSubNames]="['Imię', 'Nazwisko', 'Nazwa Użytkownika', 'Czas Poświęcony w Projekcie']"
          [SortTypeSub]='["string", "string", "string", "number"]' [tableSubDataObject]="'SubModels'"
          [tableObjects]="['Name', 'Order', 'StartDate', 'EndDate', 'TimeTaken', 'TimeEstimated', 'TimeDiference', 'EcpCounted', 'StatusName']"
          [tableSubObjects]="['FirstName', 'Surname', 'Name', 'EcpCounted']" [MainObjectsDate]="[2,3]"
          [ShowSubTable]='showSubTable'></app-table>

        <app-table *ngIf="pickedTypeNumber === 2" [tableData]='tableData'
          [tableNames]='["Imię", "Nazwisko","Nazwa Użytkownika", "W Wybranym Okresie Czasu"]'
          [SortTypeMain]='["string", "string", "string", "number"]'
          [tableSubNames]="['Nazwa Zadania',  'Numer Zadania', 'Nazwa Projektu','Data Początku', 'Data Końca', 'Czas Rzeczywisty', 'Czas Przewidywany', 'Pozostały Czas', 'W Wybranym Okresie Czasu']"
          [SortTypeSub]='["string", "string", "date", "date", "number", "number", "number", "number", "string"]'
          [tableObjects]="['FirstName', 'Surname', 'Name', 'EcpCounted']"
          [tableSubObjects]="['Name', 'Order', 'CaseName', 'StartDate', 'EndDate', 'TimeTaken', 'TimeEstimated', 'TimeDiference', 'EcpCounted']"
          [SubObjectsDate]="[3,4]" [ShowSubTable]='showSubTable'></app-table>

        <app-table *ngIf="pickedTypeNumber === 1" [tableData]='tableData'
          [tableNames]='["Nazwa Projektu", "Numer Projektu","Data Początku", "Data Końca", "Czas Rzeczywisty", "Czas Przewidywany", "Pozostały Czas", "W Wybranym Okresie Czasu", "Status"]'
          [SortTypeMain]='["string", "string", "date", "date", "number", "number", "number", "number", "string"]'
          [tableSubNames]="['Nazwa Zadania', 'Numer Zadania', 'Data Początku', 'Data Końca', 'Czas Rzeczywisty', 'Czas Przewidywany', 'Pozostały Czas', 'W Wybranym Okresie Czasu', 'Status']"
          [SortTypeSub]='["string", "string", "date", "date", "number", "number", "number", "number", "string"]'
          [tableObjects]="['Name', 'Order', 'StartDate', 'EndDate', 'TimeTaken', 'TimeEstimated', 'TimeDiference', 'EcpCounted', 'StatusName']"
          [tableSubObjects]="['Name', 'Order', 'StartDate', 'EndDate', 'TimeTaken', 'TimeEstimated', 'TimeDiference', 'EcpCounted', 'StatusName']"
          [MainObjectsDate]="[2,3]" [SubObjectsDate]="[2,3]" [ShowSubTable]='showSubTable'></app-table>
      </mat-tab>
      <mat-tab label="Wykresy">
        <app-tables-charts [TableData]="tableData"></app-tables-charts>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="excel-export" (click)="exportCurrentTable()"><img
    style="width: 70%; height: 70%; margin-left: 15%; margin-top: 5px;" src="assets/images/excel-icon.svg"></div>