.ecp-unit {
    width: 100%;
    padding: 10px;
    border: 1px solid #d4d4d4;
    overflow: auto;
    margin-bottom: 10px;
}

.ecp-unit-picked {
    background-color: #eeeeee;
}

.ecp-description {
    width: 100%;
}

.ecp-tiles-header {
    padding: 15px;
    background-color: #222222;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
}

.ecp-tile-entry {
    float: left;
    width: 50%;
    padding-left: 10px;
}