<div class="ecp-tiles-header">Data: {{Date | date:'dd-MM-yyyy'}}</div>
<div *ngFor="let ecp of Ecps" class="ecp-unit">
    <div class="ecp-tile-entry">Nazwa Użytkownika: <strong>{{ecp.User.Name}}</strong> </div>
    <div class="ecp-tile-entry"> Imię i Nazwisko: <strong>{{ecp.User.FirstName}} {{ecp.User.Surname}}</strong></div>
    <div class="ecp-tile-entry">
        Czas: <strong>{{ecp.StartTime | date:'HH:mm'}} - {{ecp.FinishTime | date:'HH:mm'}}</strong>
    </div>
    <div class="ecp-tile-entry" *ngIf="ecp.Task !== null">
        Zadanie: <strong>{{ecp.Task.Name}}</strong>
    </div>
    <div class="ecp-tile-entry" *ngIf="ecp.Task === null">
        Zadanie: <strong>poza zleceniem</strong> 
    </div>
    <div class="ecp-description" *ngIf="!ecp.AllowEdit">{{ecp.Description}}</div>
</div>