<div class="year-picker">
  <div style="width: 100%">
    <mat-form-field style="padding:15px; text-align:center">
      <mat-select placeholder="Rok">
        <mat-option (click)="pickYear(year)" *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="width: 100%; float: left">
      <button (click)="submit()" class="date-submit-button">Zmień</button>
    </div>
  </div>
</div>