<div style="width: 100%; height: 100vh; color: #222222">
   <div class="forge-files-container">
      <app-files-viewer ></app-files-viewer>
    </div>
    <div class="forge-files-container">
      <app-forge-files></app-forge-files>
    </div>
    <div class="forge-files-container" style="width:34%">
      <app-case-task-tree></app-case-task-tree>
    </div>
</div>