<div style="width: 100vw; height: 100vh; position: fixed; left: 0px; top: 0px;">
<div style="width: 100%; height: 100%; display: flex">
        <div class="forge-files-container">
                <app-files-viewer [FolderId]="data.Model.FolderId"></app-files-viewer>
            </div>
            <div *ngIf="authorized" class="forge-files-container" >
                <app-forge-files [forgeFolderId]="data.Model.BimFolderId"></app-forge-files>
            </div>
            <div *ngIf="authorized" class="forge-viewer-container" >
             <app-forge-viewer></app-forge-viewer>
            </div>
</div>
</div>