.table-container {
    width: 100%;
    padding-top: 40px;
}

.description {
    cursor: pointer;
}

.last-seen-container {
    width: 100%;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 40px;
    color: #222222;
    text-align: center;
    background-color: white;
}

.last-seen-title {
    background-color: #222222;
    color: white;
    padding: 10px;
    text-align: left;
}

.last-seen-entry-container {
    overflow: auto;
    text-align: left;
}

.last-seen-button {
    background-color: #222222;
    padding: 8px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.last-seen-button:hover {
    background-color: #d4d4d4;
    color: #222222;
}

.last-seen-entry {
    padding: 0;
    padding-top: 20px;
    width: 100%;
    height: 350px;
    width: 100%;
}