<div class="clients-menu">
  <div class="client-add">
    <fa-icon [icon]="faPlus" style="font-size: 25px;" (click)="addTemplate()"></fa-icon>
  </div>
  <mat-form-field style="float:left;" class="no-padding">
    <input matInput (keyup)="applyFilter($event.target.value)" style="color: #222222" placeholder="Szukaj">
  </mat-form-field>
</div>

<div style="width: 100%; padding-top: 20px">
  <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort style="width: 100%">

    <!-- ID Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
      <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="TaskName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa Zadania </th>
      <td mat-cell *matCellDef="let row"> {{row.TaskName}} </td>
    </ng-container>

    <ng-container matColumnDef="Case">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa Zadania </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.Case !== null">
            {{row.Case.Name}}
        </div>
        <div *ngIf="row.Case === null">
            Projekt Usunięty
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
      <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="TimeEstimated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Czas przewidywany </th>
      <td mat-cell *matCellDef="let row"> {{row.TimeEstimated}} </td>
    </ng-container>

    <ng-container matColumnDef="TaskTagMain">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Etap Zadania </th>
      <td mat-cell *matCellDef="let row"> {{row.TaskTagMain.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="TaskTagAccessory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ Zadania </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.TaskTagAccessory !== null"> {{row.TaskTagAccessory.Name}}</div>
        <div *ngIf="row.TaskTagAccessory === null">brak</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="TaskTagAccessoryMinor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ Podzadania </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.TaskTagAccessoryMinor !== null"> {{row.TaskTagAccessoryMinor.Name}}</div>
        <div *ngIf="row.TaskTagAccessoryMinor === null">brak</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edytuj </th>
      <td mat-cell *matCellDef="let row" class="client-remove">
        <fa-icon [icon]="faEdit" style="font-size: 20px;" (click)="editTemplate(row)"></fa-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="Remove">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuń </th>
      <td mat-cell *matCellDef="let row" class="client-remove">
        <fa-icon [icon]="faTrash" style="font-size: 20px;" (click)="removeTemplate(row)"></fa-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

</div>