@keyframes case-visibility {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

  %tile-base {
    background-color: white;
    color: #222222;
  }

  %tile-header-base {
    height: 15%;
    padding: 10px;
    background-color: #222222;
    color: white;
    position: relative;
    cursor: pointer;
  }

  .tile {
    width: 100%;
    height: 100%;
    border: 1px solid #d4d4d4;
    @extend %tile-base;
  }

  .tile-header {
    @extend %tile-header-base;
  }
  
  .tile-name {
    float: left;
    cursor: pointer;
  }

  .tile-load {
    position: absolute;
    left: 10px;
    bottom:9px;
    display: inline;
  }

  .change-status {
    position: absolute;
    right: 40px;
    top: 6px;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    color: #222222;
  }

  .tile-status-icon {
    position: absolute;
    right: 6px;
    top:3px;
  }

  .tile-sub-header {
    @extend %tile-header-base;
    border-top: 0.2px solid #d4d4d4;
  }

  .tile-priority-icon {
    position: absolute;
    right: 8px;
    top:3px;
  }

  .tile-description {
    position: relative;
    height: 25%;
    width: 100%;
    padding: 5px;
  }

  .tile-description-button {
    position: absolute;
    right: 5px;
    bottom: -4px;
    font-size: 20px;
    cursor: pointer;
  }

  .tile-user {
    position: relative;
    float: left;
    width: 25%;
    height: 54%;
    color: #222222;
    text-align: center;
  }

  .tile-information {
    width: 75%;
    height: 54%;
    float: left;
    border-right: 1px solid #d4d4d4;
    overflow: auto;
  }

  .tile-tag {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
    border-top: 1px solid #d4d4d4;
  }

  .tile-tags {
    height: 50%;
    width: 100%;
    border-top: 1px solid #d4d4d4;
  }

  .tile-time-bar {
    border-top: 1px solid #d4d4d4;
    height: 16%;
    float: left;
    width: 100%;
  }

  .tile-date {
    float: left;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tile-dates {
    width: 100%;
    height: 25%;
    font-size: 14px;
    text-align: center;
    float: left;
    border-top: 1px solid #d4d4d4;
  }

  @media (min-width: 960px) and (max-width: 1360px){

  }
  
  //#small devices
  
  
  @media (max-width: 960px) {

  }
  