<div class="tile">
  <div class="tile-header">
    <div [routerLink]="['/cases', Model.Id]" *ngIf="Type === 'case'" class="tile-name">{{Model.Order}} {{Model.Name}}</div>
    <div [routerLink]="['/tasks', Model.Id]" *ngIf="Type === 'task'" class="tile-name">{{Model.Order}} {{Model.Name}}</div>
    <div class="tile-status-icon">
      <app-icon-popover [Icon]="faCertificate" [Color]="Model.Status.BackgroundColor" [Size]="22" [Text]="'Status'"
        [Width]='80' [Left]='80'></app-icon-popover>
    </div>
    <div *ngIf="Type === 'case'">
      <div class="change-status" (click)="changeStatus(2, 'Czy na pewno chcesz rozpocząć projekt?')" style="background-color: #FFCF44;"
        *ngIf="Model.StatusId === 1 && authService.roleAndIdMatch([roles.Admin, roles.ProjectManager], Model.UserId, Model.GroupId)">
        Rozpocznij
      </div>
      <div class="change-status" (click)="changeStatus(3, 'Czy na pewno chcesz zakończyć projekt?')" style="background-color: #bbbbbb"
        *ngIf="Model.StatusId === 2 && authService.roleAndIdMatch([roles.Admin, roles.ProjectManager], Model.UserId, Model.GroupId)">
        Zakończ
      </div>
      <div class="change-status" (click)="changeStatus(2, 'Czy na pewno chcesz wznowić projekt?')" style="background-color: rgb(4, 134, 4);"
        *ngIf="Model.StatusId === 3 && authService.roleMatch([roles.Admin, roles.ProjectManager])">
        Wznów
      </div>
    </div>
    <div *ngIf="Type === 'task'">
      <div class="change-status" (click)="changeStatus(2, 'Czy na pewno chcesz rozpocząć zadanie?')" style="background-color: #FFCF44;"
        *ngIf="Model.StatusId === 1 && authService.roleAndIdMatch([roles.Admin, roles.ProjectManager], Model.Users[0].Id, Model.GroupId, Model.Users) && Model.Case.StatusId === 2">
        Rozpocznij
      </div>
      <div class="change-status" (click)="changeStatus(3, 'Czy na pewno chcesz zakończyć zadanie?')" style="background-color: #bbbbbb"
        *ngIf="Model.StatusId === 2 && authService.roleAndIdMatch([roles.Admin, roles.ProjectManager], Model.Users[0].Id, Model.GroupId, Model.Users)">
        Zakończ
      </div>
      <div class="change-status" (click)="changeStatus(2, 'Czy na pewno chcesz wznowić projekt?')" style="background-color: rgb(4, 134, 4);"
        *ngIf="Model.StatusId === 3 && authService.roleMatch([roles.Admin, roles.ProjectManager])">
        Wznów
      </div>
    </div>
  </div>
  <div class="tile-sub-header" *ngIf="Type === 'case'" (click)="showClientPanel()">
    {{ Model.Client.Name }}
    <div class="tile-priority-icon">
      <app-icon-popover [Icon]="faExclamation" [Color]="Model.Priority.BackgroundColor" [Size]="27" [Text]="'Priorytet'"
        [Width]='80' [Left]='80'></app-icon-popover>
    </div>
  </div>
  <div class="tile-sub-header" (click)="showCasePanel()" *ngIf="Type === 'task'">
    {{ Model.Case.Name }}
    <div class="tile-priority-icon">
      <app-icon-popover [Icon]="faExclamation" [Color]="Model.Priority.BackgroundColor" [Size]="27" [Text]="'Priorytet'"
        [Width]='80' [Left]='80'></app-icon-popover>
    </div>
  </div>
  <div class="tile-information">
    <div class="tile-description">{{ Model.Description | slice:0:19 }}...
      <div class="tile-description-button" (click)="showDescriptionDialog()">
        <fa-icon [icon]="faEllipsisH"></fa-icon>
      </div>
    </div>
    <div class="tile-dates">
        <div class="tile-date"> Data Początku: <strong>{{ Model.StartDate | date:'yyyy-MM-dd' }}</strong> </div>
        <div class="tile-date" style="border-left: 1px solid #d4d4d4;"> Data Końca: <strong>{{ Model.EndDate | date:'yyyy-MM-dd'}}</strong> </div>
      </div>
      <div class="tile-tags" *ngIf="Type === 'case'">
        <div class="tile-tag" style="height: 50%">{{Model.CaseTagParent.Name}}</div>
        <div class="tile-tag" style="height: 50%" *ngIf="Model.CaseTagChild !== null">{{Model.CaseTagChild.Name}}</div>
      </div>
      <div class="tile-tags" *ngIf="Type === 'task'">
        <div class="tile-tag">{{Model.TaskTagMain.Name}}</div>
        <div class="tile-tag" *ngIf="Model.TaskTagAccessory !== null">{{Model.TaskTagAccessory.Name}}</div>
        <div class="tile-tag" *ngIf="Model.TaskTagAccessoryMinor !== null">{{Model.TaskTagAccessoryMinor.Name}}</div>
      </div>
  </div>

  <div class="tile-user">
    <fa-icon [icon]="faUserAlt" *ngIf="Model.User !== null" style="font-size: 30px;"></fa-icon>
    <fa-icon [icon]="faUserFriends" *ngIf="Model.User === null" style="font-size: 30px;"></fa-icon>
    <div *ngIf="Type === 'case'">{{Model.User.Name}}</div>
    <div *ngIf="Type === 'task'"><div *ngIf="Model.Users.length === 1">{{Model.Users[0].Name}}</div><div *ngIf="Model.Users.length > 1">Grupa</div></div>
    <div *ngIf="Type === 'task'" appLoad>{{ this.Model.Users.length }}</div>
    <app-animated-button *ngIf="Type === 'case'" [TopIcon]="faFile" [MiddleIcon]="faCopy"
      [MiddleBottomIcon]="faLayerGroup" [BottomIcon]="faPlusSquare" [TopText]="'Otwórz Pliki'"
      [MiddleText]="'Pokaż Notatki'" [MiddleBottomText]="'Pokaż Zadania'" [BottomText]="'Dodaj Zadanie'"
      [MiddleComponent]="memoListComponent" [MiddleBottomComponent]="casePanelComponent"
      [TopComponent]="forgeViewerComponent" [BottomComponent]="newTaskComponent"
      [BottomData]="{ Type : 'new', Case : Model}" [TopData]="{ Model : Model, Type : 'Case' }"
      [MiddleData]="{ ParentId : Model.Id, Type : 'Case', Model : Model }" [MiddleBottomData]="{ Case : Model }"
      [UserId]="Model.UserId" [GroupId]="Model.GroupId"></app-animated-button>

    <app-animated-button *ngIf="Type === 'task' && Model.Users.length > 0" [TopIcon]="faFile" [MiddleIcon]="faCopy"
      [MiddleBottomIcon]="faCalendarAlt" [BottomIcon]="faClock" [TopText]="'Otwórz Pliki'"
      [MiddleText]="'Pokaż Notatki'" [MiddleBottomText]="'Pokaż Kalendarz'" [BottomText]="'Zaraportuj Czas'"
      [BottomComponent]="ecpPanelComponent" [MiddleComponent]="memoListComponent" [TopComponent]="forgeViewerComponent"
      [TopData]="{ Model : Model, Type : 'Task' }" [MiddleData]="{ ParentId : Model.Id, Type : 'Task', Model : Model }"
      [MiddleBottomData]="{ Calendar : true }" [BottomData]="{ Task : Model, UserId: Model.Users[0].Id, Date: todaysDate }"
      [UserId]="Model.Users[0].Id" [Users]="Model.Users" [GroupId]="Model.GroupId" [StatusId]="Model.StatusId">
    </app-animated-button>

    <app-animated-button *ngIf="Type === 'task' && Model.Users.length > 0" [TopIcon]="faFile" [MiddleIcon]="faCopy"
      [MiddleBottomIcon]="faCalendarAlt" [BottomIcon]="faClock" [TopText]="'Otwórz Pliki'"
      [MiddleText]="'Pokaż Notatki'" [MiddleBottomText]="'Pokaż Kalendarz'" [BottomText]="'Zaraportuj Czas'"
      [BottomComponent]="ecpPanelComponent" [MiddleComponent]="memoListComponent" [TopComponent]="forgeViewerComponent"
      [TopData]="{ Model : Model, Type : 'Task' }" [MiddleData]="{ ParentId : Model.Id, Type : 'Task', Model : Model }"
      [MiddleBottomData]="{ Calendar : true }" [BottomData]="{ Task : Model, UserId: null, Date: todaysDate }"
      [UserId]="null" [Users]="Model.Users" [GroupId]="Model.GroupId" [StatusId]="Model.StatusId">
    </app-animated-button>

  </div>
  <div class="tile-time-bar">
    <app-time-bar [TimeEstimated]="Model.TimeEstimated" [TimeTaken]="Model.TimeTaken"></app-time-bar>
  </div>


</div>