<div class="task-status-button">
        <div class="task-picked-entry" *ngIf="pickedFilter === null">Wszystkie</div>
        <div class="task-picked-entry" style="background-color: rgb(4, 134, 4)" *ngIf="pickedFilter === 1">Nowe</div>
        <div class="task-picked-entry" style="background-color: #FFCF44; color: #222222" *ngIf="pickedFilter === 2">W Toku</div>
        <div class="task-picked-entry" style="background-color: #d4d4d4; color: #222222" *ngIf="pickedFilter === 3">Zakonczone</div>
        <div class="task-dropdown-content">
                <div class="task-dropdown-entry" (click)="ChangeId(null)" style="background-color: #222222">Wszystkie</div>
                <div class="task-dropdown-entry" (click)="ChangeId(1)" style="background-color: rgb(4, 134, 4)">Nowe</div>
                <div class="task-dropdown-entry" (click)="ChangeId(2)" style="background-color: #FFCF44; color: #222222">W Toku</div>
                <div class="task-dropdown-entry" (click)="ChangeId(3)" style="background-color: #d4d4d4; color: #222222">Zakonczone</div>
        </div>
</div>