.task-status-button {
  width: 100px;
  border-left: 1px solid #d4d4d4;
  height: 50px;
  float: left;
  position: relative;
  cursor: pointer;
}

.task-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  top: 49px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #222222;
}

.task-status-button:hover .task-dropdown-content {
  display: block;
}

.task-picked-entry {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 50px;
  color: #d4d4d4;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-dropdown-entry {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d4d4d4;
  margin: 0px;
}

.task-dropdown-entry:hover{
  color: #ffffff;
}