<div class="users-container">
  <div class="user-register-conatiner">
    <div class="register-topic">
      Dodaj Użytkownika
    </div>
    <div class="register-entry">
      <mat-form-field class="form-width">
        <input [(ngModel)]="newUser.Name" matInput placeholder="Nazwa">
      </mat-form-field>
    </div>
    <div class="register-entry">
      <mat-form-field class="form-width">
        <input [(ngModel)]="newUser.Email" matInput placeholder="Email">
      </mat-form-field>
    </div>
    <div class="register-entry">
      <mat-form-field class="form-width">
        <input [(ngModel)]="newUser.FirstName" matInput placeholder="Imię">
      </mat-form-field>
    </div>
    <div class="register-entry">
      <mat-form-field class="form-width">
        <input [(ngModel)]="newUser.Surname" matInput placeholder="Nazwisko">
      </mat-form-field>
    </div>
    <div class="register-button-container">
      <button class="register-button" (click)="editUser()">Dodaj</button>
    </div>
  </div>
</div>