.users-container {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    color: white;
    clear: both;
}
.user-register-conatiner {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: white;
    display: inline-block;
}

.register-entry {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5px;
    color: #222222;
}

.user-entry {
    float: left;
    width: 100%;
    padding: 10px;
    color: #222222;
    clear: both;
}

.user-text {
    background-color: white;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #d4d4dd;
    overflow: auto;
}

.form-width {
    width: 100%;
}

.register-topic {
    float: left;
    text-align: left;
    width: 100%;
    font-size: 18px;
    background-color: #222222;
    padding: 10px;
    margin-bottom: 15px;
}

.register-button-container {
    float: left;
    text-align: left;
    width: 100%;
    font-size: 17px;
    padding: 6px;
}

.register-button {
    float: right;
    background-color: #222222;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.register-button:hover {
 background-color: #d4d4dd;
 color: #222222;
}

.user-panel-container {
    width: 100%;

}

.reset-password {
    float: right;
    padding: 5px;
    background-color: #222222;
    color: white;
    cursor: pointer;
}

.reset-password:hover {
    background-color: #d4d4dd;
    color: #222222;
}