.users-container {
    height: 200px;
    overflow-y: scroll;
}

.user-container {
    overflow: auto;
    width: 100%;
    padding: 15px;
}

.add-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #d4d4d4;
    cursor: pointer;
    float: right;
}



.add-button:hover {
    background-image: linear-gradient(
        to right,
        #222222 30%,
        #222222 30%,
        #222222 90%,
        #222222 90%
    );
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.non-active-star{ 
    color: #d4d4d4;
    cursor: pointer;
}


.non-active-star:hover {
    color: #ffcf44;
}

.active-star{ 
    color: #ffcf44;
    cursor: pointer;
}


.active-star:hover {
    color: #d4d4d4;
}

.minus {
    cursor: pointer;
    border-radius: 40px;
  }
  
  .minus:hover {
    background-color: #d4d4d4;
  }
  