<div style="width: 100%">
  <mat-form-field>
    <input [(ngModel)]="NewGroup.Name" matInput placeholder="Nazwa">
  </mat-form-field>
  
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 100%">
      <input type="text" placeholder="Dodaj Uzytkownika" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (focus)="sortUsers()" (input)="onFilterUsers($event.target.value)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of FilteredUsersAsync| async" [value]="user.Name" (onSelectionChange)="addUserToGroup(user)">
          <div style="float: left">{{user.Name}}</div>
          <div style="float: right"><fa-icon [icon]="faPlus"></fa-icon></div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="users-container"> 
    <div *ngFor="let user of NewGroup.Users; let i = index" class="user-container">
      <div style="float: left; padding-top: 10px;">{{user.Name}}</div>
      <div style="float: left;" class="active-star" *ngIf="user.Id == NewGroup.TeamLeaderId"(click)="removeTeamLeader()" >
        <fa-icon [icon]="faStar" style="font-size: 25px;"></fa-icon>
      </div>
      <div style="float: left;" class="non-active-star" *ngIf="user.Id != NewGroup.TeamLeaderId" (click)="changeTeamLeader(user.Id)" >
        <fa-icon [icon]="faStar" style="font-size: 25px;"></fa-icon>
      </div>
      <div style="float: right; padding-top: 10px;" (click)="removeUserFromGroup(i, user)"><fa-icon [icon]="faMinus" class="minus"></fa-icon></div>
    </div>
  </div>
  <div class="add-button" style="float: left;" (click)="closeDialog()">Powrót</div>
  <div class="add-button" (click)="addGroup()">Dodaj Grupę</div>
</div>
