<div class="case-padding" *ngFor="let task of Tasks | slice:shownStart:shownEnd">
  <app-tile [Model]="task" [Type]="'task'"></app-tile>
</div>
<div class="paggination">
  <div class="pag-btn"> <fa-icon (click)="decresePage()" [icon]="faChevronLeft" class="chevron-btn"></fa-icon> {{shownStart}} - {{shownEnd}} <fa-icon class="chevron-btn" [icon]="faChevronRight"  (click)="addPage()"></fa-icon></div>
</div>