<div class="auth-container">
  <div style="margin: auto; overflow: auto;">
    <fa-icon [icon]="faUserCircle" style="font-size: 50px"></fa-icon>
    <div *ngIf="authService.loggedIn()" style="width: 100%; text-align: center; float: left;">
      {{ authService.decodedToken?.unique_name }}</div>
    <div *ngIf="authService.loggedIn()" class="logout-button"
      (click)="showChangePasswordPanel = !showChangePasswordPanel" style="float: left">Zmiana Hasła</div>
    <div *ngIf="authService.loggedIn()" class="logout-button" (click)="logOut()">Wyloguj</div>
    <form style="width: 60%; margin: auto" *ngIf="!authService.loggedIn()">
      <div>
        <mat-form-field style="width:100%">
          <input [(ngModel)]='model.name' name="name_panel" matInput placeholder="Nazwa" type="text" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width:100%">
          <input [(ngModel)]='model.password' name="Password_panel" matInput placeholder="Hasło" type="password" />
        </mat-form-field>
      </div>
    </form>
    <div (click)='login()' class="login-button" *ngIf="!authService.loggedIn()">
      Zaloguj
    </div>
  </div>
</div>

<div class="change-password-panel" *ngIf="showChangePasswordPanel">
  Zmień Hasło
  <form style="width: 60%; margin: auto">
    <div>
      <mat-form-field style="width:100%">
        <input [(ngModel)]='password.OldPassword' name="Password_panel" matInput placeholder="Wcześniejsze Hasło"
          type="password" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width:100%">
        <input [(ngModel)]='password.NewPassword' name="Password_panel" matInput placeholder="Nowe Hasło"
          type="password" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width:100%">
        <input [(ngModel)]='password.PasswordCheck' name="Password_panel" matInput placeholder="Powtórz Nowe Hasło"
          type="password" />
      </mat-form-field>
    </div>
    <div style="width:100%; float:left">
      <div (click)='changePassword()' style="float: right" class="login-button">
        Zmień Hasło
      </div>
    </div>
  </form>
</div>

<div class="notifications-container" *ngIf="authService.loggedIn()">
  <app-forge-auth></app-forge-auth>
</div>

<div class="notifications-container" *ngIf="authService.loggedIn()">
  <app-notifications [UserId]="setUserId()"></app-notifications>
</div>

<app-last-seen *ngIf="authService.loggedIn()"></app-last-seen>