.auth-container {
   width: 60%;
   padding: 20px;
   margin: auto;
   background-color: white;
   margin-top: 40px;
   color: #222222;
   text-align: center;
   border: 1px solid #d4d4d4;

}

.login-button {
   background-color: #222222;
   color: white;
   padding: 10px;
   border: 1px solid #d4d4d4;
   width: 50%;
   margin: auto;
   cursor: pointer;
}

.login-button:hover {
   background-color: #d4d4d4;
   color: #222222;
   border: 1px solid #222222;
}

.logout-button {
   background-color: #222222;
   color: white;
   padding: 10px;
   float: right;
   border: 1px solid #d4d4d4;
   margin: auto;
   cursor: pointer;
}

.logout-button:hover {
   background-color: #d4d4d4;
   color: #222222;
   border: 1px solid #222222;
}

.notifications-container {
   width: 60%;
   padding: 20px;
   margin: auto;
   background-color: white;
   margin-top: 40px;
   color: #222222;
   text-align: center;
   border: 1px solid #d4d4d4;
}

.change-password-panel {
   width: 60%;
   padding: 20px;
   overflow: auto;
   margin: auto;
   background-color: white;
   margin-top: 40px;
   color: #222222;
   text-align: center;
   border: 1px solid #d4d4d4;
}

.auth-arrow {
   font-size: 20px; 
   float: right;
   cursor: pointer;
}

.auth-arrow:hover {
   color: #d4d4d4;
}

.hidden-title {
   background-color: #222222;
   color: white;
   padding: 10px;
   text-align: left;
}

@media (max-width: 960px) {
   .auth-container {
      width: 100%;
   }

   .notifications-container {
      width: 100%;
   }
}