<div class="case-padding" *ngFor="let case of Cases | slice:shownStart:shownEnd">
  <app-tile [Model]="case" [Type]="'case'"></app-tile>
</div>
<div class="paggination">
  <div class="pag-btn"> <fa-icon (click)="decresePage()" [icon]="faChevronLeft" class="chevron-btn"></fa-icon> {{shownStart}} - {{shownEnd}} <fa-icon class="chevron-btn" [icon]="faChevronRight"  (click)="addPage()"></fa-icon></div>
</div>