@keyframes case-visibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.case-padding {
  float: left;
  padding: 15px;
  width: 33%;
  height: 300px;
  opacity: 100;
  position: relative;
  animation-name: case-visibility;
  animation-duration: 1000ms;
}

@media (min-width: 960px) and (max-width: 1360px){
  .case-padding {
    width: 50%;
  }

}

//#small devices


@media (max-width: 960px) {

  .case-padding {
    padding: 0;
    padding-top: 20px;
    width: 100%;
    height: 320px;
  }
}

.bordered-top {
  background-image: linear-gradient(to right, #045D56 20%, rgb(4, 134, 4) 20%, rgb(4, 134, 4) 60%, #1EB890 60%, #1EB890 80%, #045D56 80%);
  background-size: 100% 100%;
  width: 100%;
  height: 1px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.paggination {
  position: fixed;
  right: 5px;
  bottom: 5px;

}

.pag-btn {
  width: 100px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  background-color: #222222;
}

.chevron-btn {
  cursor: pointer;
  border-radius: 15px;
}

.chevron-btn:hover {
  background-color: #d4d4d4;
}