<div class="tile">
  <div class="tile-header">
    <div class="tile-name">{{data.Task.Name}}
      <fa-icon [icon]="faEdit" class="edit" style="font-size: 20px; padding-left: 5px;" (click)="editTask()"></fa-icon>
      <fa-icon [icon]="faTrash" class="edit" style="font-size: 20px; padding-left: 5px;" (click)="removeTask()"></fa-icon>
    </div>
    <div class="tile-status-icon">
      <app-icon-popover [Icon]="faCertificate" [Color]="data.Task.Status.BackgroundColor" [Size]="22" [Text]="'Status'"
        [Width]='80' [Left]='80'></app-icon-popover>
    </div>
    <div>
      <div class="change-status" (click)="changeStatus(2)" style="background-color: #FFCF44;"
        *ngIf="data.Task.StatusId === 1 && authService.roleAndIdMatch([roles.Admin, roles.ProjectManager], data.Task.UserId, data.Task.GroupId) && data.Task.Case.StatusId === 2">
        Rozpocznij
      </div>
      <div class="change-status" (click)="changeStatus(3)" style="background-color: #bbbbbb"
        *ngIf="data.Task.StatusId === 2 && authService.roleAndIdMatch([roles.Admin, roles.ProjectManager], data.Task.UserId, data.Task.GroupId)">
        Zakończ
      </div>
      <div class="change-status" (click)="changeStatus(2)" style="background-color: rgb(4, 134, 4);"
        *ngIf="data.Task.StatusId === 3 && authService.roleMatch([roles.Admin, roles.ProjectManager])">
        Wznów
      </div>
    </div>
  </div>
  <div class="tile-sub-header">
    {{ data.Task.Case.Name }}
    <div class="tile-priority-icon">
      <app-icon-popover [Icon]="faExclamation" [Color]="data.Task.Priority.BackgroundColor" [Size]="27"
        [Text]="'Priorytet'" [Width]='80' [Left]='80'></app-icon-popover>
    </div>
  </div>
  <div class="tile-information">
    <div class="tile-description">{{ data.Task.Description }}
      <div class="tile-description-button">
        <fa-icon [icon]="faEllipsisH"></fa-icon>
      </div>
    </div>
  </div>

  <div class="tile-user">
      <app-animated-button *ngIf="data.Task.Users.length > 0" [TopIcon]="faFile" [MiddleIcon]="faCopy"
          [MiddleBottomIcon]="faCalendarAlt" [BottomIcon]="faClock" [TopText]="'Otwórz Pliki'"
          [MiddleText]="'Pokaż Notatki'" [MiddleBottomText]="'Pokaż Kalendarz'" [BottomText]="'Zaraportuj Czas'"
          [BottomComponent]="ecpPanelComponent" [MiddleComponent]="memoListComponent" [TopComponent]="forgeViewerComponent"
          [TopData]="{ Model : data.Task, Type : 'Task' }" [MiddleData]="{ ParentId : data.Task.Id, Type : 'Task', Model : data.Task }"
          [MiddleBottomData]="{ Calendar : true }" [BottomData]="{ Task : data.Task, UserId: data.Task.Users[0].Id, Date: todaysDate }"
          [UserId]="data.Task.Users[0].Id" [Users]="data.Task.Users" [GroupId]="data.Task.GroupId" [StatusId]="data.Task.StatusId">
        </app-animated-button>
    
        <app-animated-button *ngIf="data.Task.Users.length > 0" [TopIcon]="faFile" [MiddleIcon]="faCopy"
          [MiddleBottomIcon]="faCalendarAlt" [BottomIcon]="faClock" [TopText]="'Otwórz Pliki'"
          [MiddleText]="'Pokaż Notatki'" [MiddleBottomText]="'Pokaż Kalendarz'" [BottomText]="'Zaraportuj Czas'"
          [BottomComponent]="ecpPanelComponent" [MiddleComponent]="memoListComponent" [TopComponent]="forgeViewerComponent"
          [TopData]="{ Model : data.Task, Type : 'Task' }" [MiddleData]="{ ParentId : data.Task.Id, Type : 'Task', Model : data.Task }"
          [MiddleBottomData]="{ Calendar : true }" [BottomData]="{ Task : data.Task, UserId: null, Date: todaysDate }"
          [UserId]="null" [Users]="data.Task.Users" [GroupId]="data.Task.GroupId" [StatusId]="data.Task.StatusId">
        </app-animated-button>
    <fa-icon [icon]="faUserAlt" style="font-size: 30px;"></fa-icon>
    <div *ngIf="data.Task.Users.length === 1">{{data.Task.Users[0].Name}}</div>
    <div *ngIf="data.Task.Users.length > 1">Grupa</div>
  </div>
  <div class="tile-dates">
    <div class="tile-date"> Data Początku: <strong>{{ data.Task.StartDate | date:'yyyy-MM-dd' }}</strong> </div>
    <div class="tile-date" style="border-left: 1px solid #d4d4d4;"> Data Końca: <strong>{{ data.Task.EndDate | date:'yyyy-MM-dd'
          }}</strong> </div>
  </div>
  <div class="tile-tags">
    <div class="tile-tag">{{data.Task.TaskTagMain.Name}}</div>
    <div class="tile-tag" *ngIf="data.Task.TaskTagAccessory !== null">{{data.Task.TaskTagAccessory.Name}}</div>
    <div class="tile-tag" *ngIf="data.Task.TaskTagAccessoryMinor !== null">{{data.Task.TaskTagAccessoryMinor.Name}}
    </div>
  </div>
  <div class="tile-time-bar">
    <app-time-bar [TimeEstimated]="data.Task.TimeEstimated" [TimeTaken]="data.Task.TimeTaken"></app-time-bar>
  </div>


</div>