<div class="clients-menu">
  <div class="client-add">
    <fa-icon [icon]="faPlus" style="font-size: 25px;" (click)="addClient()"></fa-icon>
  </div>
  <mat-form-field style="float:left;" class="no-padding">
    <input matInput (keyup)="applyFilter($event.target.value)" style="color: #222222" placeholder="Szukaj">
  </mat-form-field>
</div>

<div style="width: 100%; padding-top: 20px">
  <table class="mat-elevation-z8"  mat-table [dataSource]="dataSource" matSort style="width: 100%">

    <!-- ID Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
      <td mat-cell *matCellDef="let row" (click)="showRepresentatives(row)"> {{row.Name}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nr Telefonu </th>
      <td mat-cell *matCellDef="let row"> {{row.PhoneNumber}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Nip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nip </th>
      <td mat-cell *matCellDef="let row"> {{row.Nip}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edytuj </th>
      <td mat-cell *matCellDef="let row" class="client-remove"> <fa-icon [icon]="faEdit" style="font-size: 20px;" (click)="editClient(row)"></fa-icon></td>
    </ng-container>

    <ng-container matColumnDef="Remove">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuń </th>
      <td mat-cell *matCellDef="let row" class="client-remove"> <fa-icon [icon]="faTrash" style="font-size: 20px;" (click)="removeClient(row)"></fa-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

</div>