.clients-menu {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d4d4d4;
    color: #222222;
    height: 60px;
}

.client-add {
    float: right;
    padding: 16px;
    padding-top:11px;
    border-left: 1px solid #d4d4d4;
    height: 60px;
    padding-bottom: none;
    cursor: pointer;
}

.client-add:hover{
    background-color: #d4d4d4;
}

.mat-form-field.no-padding > .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }
.client-remove {
    cursor: pointer;
}