<table class="table" style="color: #222222; background-color: white">
  <thead>
    <tr class="table-name-bg">
      <th scope="col">#</th>
      <th class="table-sort-name" *ngFor="let name of tableNames; let nameid = index" scope="col">
        <div (click)="sortTablesData(nameid, name)" *ngIf="pickedSort !== name && pickedReverse !== name">{{name}}</div>
        <div class="name-underlined" (click)="sortReverseTableData(name)" *ngIf="pickedSort === name">{{name}}<fa-icon style="padding-left:2px; color: #838383" [icon]='faAngleDown'></fa-icon></div>
        <div class="name-underlined" (click)="sortTablesData(nameid, name)" *ngIf="pickedReverse === name">{{name}}<fa-icon style="padding-left:2px; color: #838383" [icon]='faAngleUp'></fa-icon></div>
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let data of tableData; let i = index">
    <tr class="table-record-bg">
      <th scope="col">{{i + 1}}</th>
      <td *ngFor="let tableObject of tableObjects; let tableObjectsIndex = index">
          <div style="cursor: pointer" (click)="edit(data)" *ngIf="tableObject === 'faEdit'">
              <fa-icon [icon]="faEdit"></fa-icon>
            </div>
            <div style="cursor: pointer" (click)="remove(data)" *ngIf="tableObject === 'faTrash'">
              <fa-icon [icon]="faTrash"></fa-icon>
            </div>
            <div style="cursor: pointer" (click)="add(data)" *ngIf="tableObject === 'faPlus'">
                <fa-icon [icon]="faPlus"></fa-icon>
              </div>
        <div *ngIf="MainObjectsDate.includes(tableObjectsIndex) && tableObject !== 'faTrash' && tableObject !== 'faEdit'  && tableObject !== 'faPlus'">
          {{  data[tableObject] | date:'yyyy-MM-dd' }}
        </div>
        <div *ngIf="!MainObjectsDate.includes(tableObjectsIndex)  && tableObject !== 'faTrash' && tableObject !== 'faEdit' && tableObject !== 'faPlus'">
          {{ data[tableObject] }}
        </div>
      </td>
    </tr>
    <tr *ngIf="ShowSubTable && data[tableSubDataObject].length > 0">
      <td [attr.colspan]="11" style="padding-top: 0px; padding-bottom: 0px; padding-left: 25px">
        <app-sub-table
         [tableSubDataObject]='tableSubDataObject'
         [tableSubNames]='tableSubNames'
          [tableSubObjects]='tableSubObjects'
          [SortTypeSub]='SortTypeSub'
          [SubObjectsDate]='SubObjectsDate'
          [ShowSubTable]='ShowSubTable'
          [data]='data'
        >
        </app-sub-table>
      </td>
    </tr>
  </tbody>
</table>