@keyframes text-width{
    from {left: -70px;}
    to {left: 50px;}
}

@keyframes text-width-longer{
    from {left: -120px;}
    to {left: 50px;}
}

.icon-container {
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
}

.icon{
    position: absolute;
    left: 0px;
    background-color: #222222;
    z-index: 1;
    padding-left: 12px;
    cursor: pointer;
}
.in-text {
    position: absolute;
    left: 50px;
    z-index: 0;
    animation-name: text-width;
    animation-duration: 900ms;
    cursor: pointer;
    outline: none;
}

.in-text:hover {
    text-decoration: underline;
}

.in-text-longer {
    position: absolute;
    left: 50px;
    z-index: 0;
    animation-name: text-width-longer;
    animation-duration: 900ms;
    cursor: pointer;
}

@keyframes text-width-hidden{
    from {left: 50px;}
    to {left: -70px;}
}

@keyframes text-width-hidden-longer{
    from {left: 50px;}
    to {left: -120px;}
}

.icon-container-hidden {
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.icon-hidden{
    position: absolute;
    left: 0px;
    padding-left: 12px;
    background-color: #222222;
    z-index: 1;
}
.in-text-hidden {
    position: absolute;
    left: -70px;
    z-index: 0;
    animation-name: text-width-hidden;
    animation-duration: 800ms;

}

.in-text-hidden-longer {
    position: absolute;
    left: -120px;
    z-index: 0;
    animation-name: text-width-hidden-longer;
    animation-duration: 800ms;
}

.in-text-longer:hover {
    text-decoration: underline;
}

.icon-padding {
    padding-bottom: 15px;
    overflow: auto;
    outline: none;
}