<div *ngIf="Type" style="text-align: left; font-size: 26px; padding-top: 100px">
    <div class="icon-padding" [routerLink]="['/auth']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faUserCircle"></fa-icon>
            </div>
            <div class="in-text-longer">Mój Panel</div>
        </div>
    </div>
    <div class="icon-padding"
        *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader, rolesModel.User]"
        [routerLink]="['/cases/0']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faStickyNote"></fa-icon>
            </div>
            <div class="in-text">Projekty</div>
        </div>
    </div>
    <div class="icon-padding" [routerLink]="['/tasks/0']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faObjectGroup"></fa-icon>
            </div>
            <div class="in-text">Zadania</div>
        </div>
    </div>
    <div class="icon-padding" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager]" [routerLink]="['/templates']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faMap"></fa-icon>
            </div>
            <div class="in-text">Szablony</div>
        </div>
    </div>
    <div class="icon-padding" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager]" [routerLink]="['/clients']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faUserTie"></fa-icon>
            </div>
            <div class="in-text">Klienci</div>
        </div>
    </div>
    <div class="icon-padding" *appHasRole="[rolesModel.Admin]" [routerLink]="['/users']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faUser"></fa-icon>
            </div>
            <div class="in-text-longer">Użytkownicy</div>
        </div>
    </div>
    <div class="icon-padding"
        *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader, rolesModel.User]"
        [routerLink]="['/groups']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faUserFriends"></fa-icon>
            </div>
            <div class="in-text">Grupy</div>
        </div>
    </div>
    <div class="icon-padding" [routerLink]="['/tables']" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader]">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faChartBar"></fa-icon>
            </div>
            <div class="in-text-longer">Zestawienia</div>
        </div>
    </div>
    <div class="icon-padding" [routerLink]="['/ecp-calendar']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </div>
            <div class="in-text-longer">Kalendarz</div>
        </div>
    </div>
    <div class="icon-padding" *appHasRole="[rolesModel.Admin]" [routerLink]="['/tags']">
        <div class="icon-container">
            <div class="icon">
                <fa-icon [icon]="faTags"></fa-icon>
            </div>
            <div class="in-text">Tagi</div>
        </div>
    </div>
    <div *ngIf="forgeAuth.IsAuthenticated">
        <div class="icon-padding" *appHasRole="[rolesModel.Admin]" [routerLink]="['/forge-directory-settings']">
            <div class="icon-container">
                <div class="icon">
                    <img style="width: 30px; height: 30px" src="assets/images/forgeIcon.png" class="forge-logo">
                </div>
                <div class="in-text">Forge</div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="!Type" style="text-align: left; font-size: 26px; padding-top: 100px">
    <div class="icon-padding" [routerLink]="['/auth']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faUserCircle"></fa-icon>
            </div>
            <div class="in-text-hidden-longer">Mój Panel</div>
        </div>
    </div>
    <div class="icon-padding"
        *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader, rolesModel.User]"
        [routerLink]="['/cases/0']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faStickyNote"></fa-icon>
            </div>
            <div class="in-text-hidden">Projekty</div>
        </div>
    </div>
    <div class="icon-padding" [routerLink]="['/tasks/0']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faObjectGroup"></fa-icon>
            </div>
            <div class="in-text-hidden">Zadania</div>
        </div>
    </div>
    <div class="icon-padding" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager]" [routerLink]="['/templates']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faMap"></fa-icon>
            </div>
            <div class="in-text-hidden">Szablony</div>
        </div>
    </div>
    <div class="icon-padding" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager]" [routerLink]="['/clients']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faUserTie"></fa-icon>
            </div>
            <div class="in-text-hidden-longer">Klienci</div>
        </div>
    </div>
    <div class="icon-padding" *appHasRole="[rolesModel.Admin]" [routerLink]="['/users']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faUser"></fa-icon>
            </div>
            <div class="in-text-hidden-longer">Użytkownicy</div>
        </div>
    </div>
    <div class="icon-padding"
        *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader, rolesModel.User]"
        [routerLink]="['/groups']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faUserFriends"></fa-icon>
            </div>
            <div class="in-text-hidden">Grupy</div>
        </div>
    </div>
    <div class="icon-padding" [routerLink]="['/tables']" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader]">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faChartBar"></fa-icon>
            </div>
            <div class="in-text-hidden-longer">Zestawienia</div>
        </div>
    </div>
    <div class="icon-padding" [routerLink]="['/ecp-calendar']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </div>
            <div class="in-text-hidden-longer">Kalendarz</div>
        </div>
    </div>
    <div class="icon-padding" *appHasRole="[rolesModel.Admin]" [routerLink]="['/tags']">
        <div class="icon-container-hidden">
            <div class="icon-hidden">
                <fa-icon [icon]="faTags"></fa-icon>
            </div>
            <div class="in-text-hidden">Tagi</div>
        </div>
    </div>
    <div *ngIf="forgeAuth.IsAuthenticated">
        <div class="icon-padding" *appHasRole="[rolesModel.Admin]" [routerLink]="['/forge-directory-settings']">
            <div class="icon-container-hidden">
                <div class="icon-hidden">
                    <img style="width: 30px; height: 30px" src="assets/images/forgeIcon.png" class="forge-logo">
                </div>
                <div class="in-text-hidden">Forge</div>
            </div>
        </div>
    </div>
</div>