
  .priority-container {
    width: 100%;
    overflow: auto;
  }
  .priority {
    float: left;
    width: 150px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
  }
  .priority:hover {
    border: 2px solid rgb(0, 0, 0);
  }
  
  .priority-picked {
    float: left;
    width: 150px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
  }
  