Priorytet:
    <div class="priority-container">
      <div *ngFor="let priority of priorities" [ngClass]="{ 'priority': priority.Id != pickedPriorityId , 'priority-picked': priority.Id == pickedPriorityId }"
        [style.backgroundColor]="priority.BackgroundColor" [style.color]="priority.Color" (click)="changePriority(priority)">{{priority.Name}}</div>
    </div>
