<mat-tab-group>
  <mat-tab label="Szablony Projektów">
    <app-templates-panel></app-templates-panel>
  </mat-tab>
  <mat-tab label="Szablony Zadań">
    <app-task-templates-panel></app-task-templates-panel>
  </mat-tab>
</mat-tab-group>