.charts-date-filter {
    float: left;
    height: 10%;
    background-color: white;
    color: #222222;
}

.chart-container {
    float: left;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: white;
    overflow-y: scroll;
}

.chart {
    width: 100%;
    float: left;
}

.chart-filters {
    width: 100%;
    background-color: #222222;
    float: left;
    overflow: auto;
    border-bottom: 1px solid #d4d4d4;
}