.forge-login-container {
    width: 100%;
    overflow: auto;
}

.forge-logo {
    float: left;
}

.forge-login {
    float: right;
    padding: 7px;
    background-color: #222222;
    color: white;
    cursor: pointer;
}

.forge-login:hover {
    background-color: #d4d4d4;
    color: #222222;
}