.user-add-button-container {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.user-add-button {
    padding: 15px;
    background-color: #222222;
    border-radius: 15px;
    cursor: pointer;
}

.user-add-button:hover {
    background-color: #d4d4dd;
    color: #222222;
}

.user-entry {
    float: left;
    width: 100%;
    padding: 10px;
    color: #222222;
    clear: both;
}

.user-text {
    background-color: white;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #d4d4dd;
    overflow: auto;
}

.user-panel-container {
    width: 100%;

}

.reset-password {
    float: right;
    padding: 5px;
    background-color: #222222;
    color: white;
    cursor: pointer;
}

.reset-password:hover {
    background-color: #d4d4dd;
    color: #222222;
}