<div class="user-add-button-container">
  <div class="user-add-button" (click)="showEditDialog(null)">
    Dodaj Użytkownika
    <div style="width: 100%; text-align: center;font-size: 25px"><fa-icon [icon]="faUser"></fa-icon></div>
  </div>
</div>
<div class="user-entry" *ngFor="let user of users">
  <div class="user-text">
    <div style="padding: 0px; margin: 0px; float: left; height: 100%; display: flex; padding-top: 15px;"
      (click)="openPaymentDialog(user)">{{user.Name}} {{user.Email}}</div>
    <mat-form-field style="float: right;">
      <mat-select placeholder="{{user.Roles[0]}}">
        <mat-option *ngFor="let role of roles" (onSelectionChange)="changeRole(role, user)">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="float: right; padding-top: 15px; padding-right: 5px">
      <div class="reset-password" (click)="resetPassword(user)">Resetuj Hasło</div>
    </div>
    <div style="float: right; padding-top: 15px; padding-right: 5px">
      <div class="reset-password" (click)="deleteUser(user)">Usuń</div>
    </div>
    <div style="float: right; padding-top: 15px; padding-right: 5px">
      <div class="reset-password" (click)="showEditDialog(user)">Edytuj</div>
    </div>
  </div>
</div>