
<div class="filter-panel">
        <div class="filter-name">
                Status:
        </div>

        <app-filter-buttons [pickedFilter]="pickedFilter" [Type]="'case'"></app-filter-buttons>

        <div class="date-filter">
                <input type="hidden" [matDatepicker]="picker" [(ngModel)]="startDate" (ngModelChange)="getFilteredCases()">
                <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker></mat-datepicker>
                <div style="float:right; padding: 8px;" *ngIf="Filter.StartDate !== null">{{ startDate  | date:'yyyy-MM-dd' }}</div>
                <div style="float:right; padding: 8px;" *ngIf="Filter.StartDate === null">Brak Daty</div>
        </div>

        <div class="date-filter">
                <input type="hidden" [matDatepicker]="picker1" [(ngModel)]="endDate" (ngModelChange)="getFilteredCases()">
                <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker1></mat-datepicker>
                <div style="float:right; padding: 8px;" *ngIf="Filter.EndDate !== null">{{ endDate  | date:'yyyy-MM-dd' }}</div>
                <div style="float:right; padding: 8px;" *ngIf="Filter.EndDate === null">Brak Daty</div>
        </div>

        <div class="more-filters last-seen-filter" (click)="onSearchByUser()">
                <div style="float: left; padding-top: 12px" >
                        Ostatnio Otwierane
                        <fa-icon [icon]="faCheck" *ngIf="Filter.LastSeenUser != null"></fa-icon>
                </div>
        </div>

        <div class="more-filters" (click)="showFiltersPanelDialog()">
                <div style="float: left; padding-top: 7px">
                        <fa-icon [icon]="faFilter" style="font-size: 23px;"></fa-icon>
                </div>
        </div>

        <div class="add" (click)="showNewCaseDialog()" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader]" >
                <div style="float: left; padding-top: 5px">
                        <fa-icon [icon]="faPlus" style="font-size: 25px;"></fa-icon>
                </div>
        </div>

        <div class="view-type">
                <div class="view-type-icon" (click)="ShowList = false">
                        <fa-icon [icon]="faTh" style="font-size: 20px;"></fa-icon>
                </div>
                <div class="view-type-icon" style="border-left: 1px solid #d4d4d4;" (click)="ShowList = true">
                        <fa-icon [icon]="faList" style="font-size: 20px;"></fa-icon>
                </div>
     
        </div>
</div>

<div style=" width: 100%; position: relative; overflow: auto;">
        <app-cases-tiles [Cases]="cases" *ngIf="!ShowList"></app-cases-tiles>
        <app-case-list [Cases]="cases" *ngIf="ShowList"></app-case-list>
</div>