<div style="width: 100%; height: 100%; position: relative;">
    <div class="header" *ngIf="data.Type !== 'edit'">
        Nowe Zadanie
    </div>
    
    <div class="header" *ngIf="data.Type === 'edit'">
        {{ newTask.Name }}
    </div>
    <form [formGroup]='NewTaskForm'>
        <div style="float: left; width: 50%; padding-top: 20px">
            <div style="padding: 20px; padding-bottom: none" *ngIf="!data.IsFromTemplate">
                <app-task-template-picker [ParentForm]="NewTaskForm"></app-task-template-picker>
            </div>
            
            <mat-form-field>
                <input formControlName="name" matInput placeholder="Nazwa">
            </mat-form-field>
    
            <mat-form-field>
                <input formControlName="order" matInput placeholder="Numer Zadania*">
            </mat-form-field>
    
            <mat-form-field class="input">
                <input type="text" placeholder="Projekty" formControlName="case" aria-label="Number" matInput
                    [matAutocomplete]="auto" (input)="onFilterCases($event.target.value)">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let case of filteredCases | async" [value]="case.Name"
                        (onSelectionChange)="onPickCase($event, case)">
                        {{case.Name}} : {{case.StartDate | date:'yyyy-MM-dd'}} - {{case.EndDate | date:'yyyy-MM-dd'}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="case-date" *ngIf="newTask.Case !== null">Data początku projektu:
                {{newTask.Case.StartDate | date:'yyyy-MM-dd'}}</div>
            <div class="case-date" *ngIf="newTask.Case !== null">Data końca projektu:
                {{newTask.Case.EndDate | date:'yyyy-MM-dd'}}</div>
            <mat-form-field style="float: left; width: 50%">
                <input matInput [matDatepicker]="dp1" (dateChange)="changeDate('change', $event)" formControlName="startDate" placeholder="Data Początku*">
                <mat-datepicker-toggle style="color:black" matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1 disabled="false"></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field style="float: left; width: 50%">
                <input matInput [matDatepicker]="dp2" (dateChange)="changeDate('change', $event)" formControlName="endDate" placeholder="Data Końca*">
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2 disabled="false"></mat-datepicker>
            </mat-form-field>
            <div style="width: 100%; float: left;">
                <div>Etap zadania należy wybrać</div>
                <app-tags-picker *ngIf="data.Type === 'edit' && !data.IsFromTemplate" [CaseTagId]="newTask.Case.CaseTagParentId"
                    [PickedMainTagId]="newTask.TaskTagMainId" [PickedAccessoryTagId]="newTask.TaskTagAccessoryId"
                    [PickedAccessoryMinorTagId]="newTask.TaskTagAccessoryMinorId" [ShowCaseTags]="false">
                </app-tags-picker>
                <app-tags-picker *ngIf="data.Type !== 'edit' && !data.IsFromTemplate" [ShowCaseTags]="false" [CaseTagId]="CaseTagId"></app-tags-picker>
                <app-tags-picker *ngIf="data.IsFromTemplate" [CaseTagId]="newTask.Case.CaseTagParentId"
                    [PickedMainTagId]="newTask.TaskTagMainId" [PickedAccessoryTagId]="newTask.TaskTagAccessoryId"
                    [PickedAccessoryMinorTagId]="newTask.TaskTagAccessoryMinorId" [ShowCaseTags]="false">
                </app-tags-picker>
            </div>
        </div>
    
        <div style="float: right; width: 50%; padding-top: 20px">
            <div style="width: 100%; float: left;">
                <app-group-user-picker *ngIf="data.Type === 'edit'" [PickedUsers]="newTask.Users" [ShowUsers]='true' [ParentControl]="NewTaskForm"></app-group-user-picker>
                <app-group-user-picker *ngIf="data.Type !== 'edit'" [ShowUsers]='true' [ParentControl]="NewTaskForm"></app-group-user-picker>
            </div>
            <section style="width: 100%; float: left;">
    
                <mat-form-field style="width:70%; float:left">
                    <input matInput type="number"  formControlName="estimatedTime"
                        placeholder="Czas Przwidywany Dla Zadania*">
                </mat-form-field>
                <mat-form-field style="width:30%; float:left">
                    <input [disabled]="true" matInput type="number" placeholder="Maksymalny czas" formControlName="maxTime">
                </mat-form-field>
            </section>
            <section style="width: 100%; float: left;">
                <mat-form-field style="width:100%; float:left">
                    <input matInput placeholder="Obciążenie" formControlName="load">
                </mat-form-field>
            </section>
            <app-priority-picker [pickedPriorityId]="newTask.PriorityId"></app-priority-picker>
            <mat-form-field>
                <textarea formControlName="description" matInput placeholder="Opis*" style="float: right"></textarea>
            </mat-form-field>
        </div>
        <div style="width: 100%; float: left; overflow: auto;">
            <button (click)="onSubmit()" class="button" *ngIf="data.Type !== 'edit'">Dodaj Zadanie</button>
            <button (click)="onSubmit()" class="button" *ngIf="data.Type === 'edit'">Edytuj Zadanie</button>
            <button (click)="closeDialog()" class="button" *ngIf="data.Type !== 'edit'">Zamknij</button>
            <button (click)="closeDialog()" class="button" *ngIf="data.Type === 'edit'">Usuń Zadanie</button>
            <mat-checkbox class="example-margin" *ngIf="data.Type !== 'edit' && !data.IsFromTemplate" [(ngModel)]="nextTask" style="float: right" formControlName="nextTask">Dodaj Kolejne Zadanie</mat-checkbox>
        </div>
    </form>
    <div (click)="closeDialog()" class="close-dialog"><fa-icon [icon]="faTimes"></fa-icon></div>
</div>
