.groups-container {
    width: 100%;
    overflow: auto;
}

.group-padding {
    padding:15px;
    padding-right: 0px;
    width: 25%;
    float: left;
}

.group-padding-collapsed {
    padding:15px;
    padding-right: 0px;
    width: 25%;
    float: left;
    clear: both;
}

@media (min-width: 960px) and (max-width: 1460px) {
    .group-padding {
        padding:15px;
        padding-right: 0px;
        width: 33%;
        float: left;
    }

}
@media (max-width: 960px) {
    .group-padding {
        padding:15px;
        padding-right: 0px;
        width: 100%;
        float: left;
    }
}

.filter-panel {
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #d4d4d4;
  }
  
  .filter-name {
    float: left;
    height: 100%;
    width: 100px;
    color: #222222;
    text-align: center;
    padding-top: 12px;
  }
  
  .view-type {
    float: right;
    width: 100px;
    height: 100%;
    background-color: #222222;
  }
  
  .view-type-icon {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top:7px;
    color: white;
    cursor: pointer;
  }
  
  .view-type-icon:hover {
    background-color: #d4d4d4;
  }
  
  .date-filter {
    float: left;
    width: 150px;
    height: 100%;
    color: #222222;
    padding-top: 5px;
    border-right: 1px solid #d4d4d4;
    text-align: center
  }
  
  .more-filters {
    float: left;
    height: 100%;
    color: white;
    padding: 12px;
    padding-top:0px;
    background-color: #222222;
    cursor: pointer;
  }
  
  .add {
    float: left;
    height: 100%;
    padding: 12px;
    padding-top: 0px;
    color: #222222;
    border-right: 1px solid #d4d4d4;
    cursor: pointer;
  }
  
  .add:hover {
    background-color: #d4d4d4;
  }
  
  .more-filters:hover {
    background-color: #d4d4d4;
    color: #222222;
  }