<div class="filter-panel">

  <div class="add" (click)="addGroup()" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager]">
          <div style="float: left; padding-top: 12px" >
                  Dodaj Grupe
          </div>

          <div style="font-size:20px; float: left;">
                  <fa-icon [icon]="faPlus"></fa-icon>
          </div>

  </div>

  <div class="add" (click)="expandAll = !expandAll">
        <div style="float: left; padding-top: 12px" *ngIf="!expandAll">
                Pokaż Wszystkie
        </div>
        <div style="float: left; padding-top: 12px" *ngIf="expandAll">
                Schowaj Wszystkie
        </div>
</div>

</div>
<div class="groups-container">
  <div *ngFor="let group of Groups; let i = index" [ngClass]="{ 'group-padding': i%4 != 0, 'group-padding-collapsed':  i%4 == 0 }">
      <app-group [Group]="group" [Users]="Users.slice()" [faStarRegular]="faStar" [expanded]="expandAll"></app-group>
  </div>
</div>
