<div [style.height]="height">
    <div
    style="width:100%; height:50px; display: flex; justify-content: center; align-items: center; background-color: #222222; color: white; border-left: 1px solid #d4d4d4; border-right: 1px solid #d4d4d4">
    Bim 360 </div>
    <div style="overflow: auto; width: 100%;" class="bim-viewer" >
        <tree-root #tree class="forge-files" [nodes]="nodes" (activate)="loadFile($event)" [options]="optionsTree">
        </tree-root>
    </div>
</div>
