
.menu {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: initial;
  background-color: #222222;
  animation-name: menu-width;
  animation-duration: 800ms;
  outline: none;
}

.menu-collapsed {
  z-index: 10;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  display: initial;
  background-color: #222222;
  animation-name: menu-collapsed-width;
  animation-duration: 800ms;
}

.menu-mobile {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #222222;
}

.menu-mobile-collapsed {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #222222;
}

.app {
  float:right;
  animation-name: app-width;
  animation-duration: 800ms;
  z-index: 9;
}

.app-collapsed {
  z-index: 9;
  float:right;
  animation-name: app-collapsed-width;
  animation-duration: 800ms;  
}

.menu-background {
  height: 100%;
  float: left;
  animation-name: menu-width;
  animation-duration: 800ms;
}

.menu-background-collapsed {
  height: 100%;
  float: left;
  animation-name: menu-collapsed-width;
  animation-duration: 800ms;
}

//#small devices
@media (max-width: 960px) {
  @keyframes menu-mobile-height {
    from {height: 50px;}
    to {height: 200px;}
  }

  @keyframes menu-mobile-collapsed-height {
    from {height: 200px;}
    to {height: 50px;}
  }

  .menu-mobile {
    width: 100%;
    height: 200px;
    display: initial;
    animation-name: menu-mobile-height;
    animation-duration: 800ms;
  }

  .menu-mobile-collapsed {
    width: 100%;
    height: 50px;
    display: initial;
    animation-name: menu-mobile-collapsed-height;
    animation-duration: 800ms;
  }

  .menu {
    display: none;
  }

  .menu-collapsed {
    display: none;
  }

  .menu-background {
    width: 100%;
    height: 50px;
  }

  .menu-background-collapsed {
    width: 100%;
    height: 50px;
  }

  .app {
    width: 100%;
  }
  
  .app-collapsed {
    width: 100%; 
  }

}
//#small devices

//#medium devices
@media (min-width: 960px) and (max-width: 1460px) {

  @keyframes menu-width {
    from {width: 50px;}
    to {width: 250px;}
  }

  @keyframes menu-collapsed-width {
    from {width: 250px;}
    to {width: 50px;}
  }

  @keyframes app-width {
    from {width: calc(100% - 50px);}
    to {width: calc(100% - 250px);}
  }

  @keyframes app-collapsed-width {
    from {width: calc(100% - 250px);}
    to {width: calc(100% - 50px);}
  }

  .menu {
    width: 250px;
  }
  
  .menu-mobile {
    display: none;
  }

  .menu-mobile-collapsed {
    display: none;
  }
  
  .menu-collapsed {
    width: 50px;
  }

  .menu-background {
    width: 250px
  }

  .menu-background-collapsed {
    width: 50px;
  }

  .app {
    width: calc(100% - 250px);
  }

  .app-collapsed {
    width: calc(100% - 50px);
  }

}
//#medium devices

//#large devices
@media (min-width: 1460px) {
 
  @keyframes menu-width {
    from {width: 50px;}
    to {width: 300px;}
  }

  @keyframes menu-collapsed-width {
    from {width: 300px;}
    to {width: 50px;}
  }

  @keyframes app-width {
    from {width: calc(100% - 50px);}
    to {width: calc(100% - 300px);}
  }

  @keyframes app-collapsed-width {
    from {width: calc(100% - 300px);}
    to {width: calc(100% - 50px);}
  }

  .menu {
    width: 300px;
  }
  
  .menu-mobile {
    display: none;
  }
  
  .menu-mobile-collapsed {
    display: none;
  }

  .menu-collapsed {
    width: 50px;
  }

  .menu-background {
    width: 300px
  }

  .menu-background-collapsed {
    width: 50px;
  }

  .app {
    width: calc(100% - 300px);
  }

  .app-collapsed {
    width: calc(100% - 50px);
  }
}

.menu-icon {
  animation-duration: 1800ms;
  padding-right:10px;
  text-align: right;
}

.menu-icon-collapsed {
  text-align: right;
}
//#large devices