<div style="width: 100%; height: 100% ">
    <div [ngClass]="{ 'menu': expanded, 'menu-collapsed': !expanded }">
        <div *ngIf="!expanded" class="menu-icon" style="width:100%; font-size: 35px; line-height:0 !important; font-family:unset !important; padding-top:5px;  "
            (click)="expanded = !expanded">
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
        <div *ngIf="expanded" class="menu-icon-collapsed" style="width:100%; font-size: 35px; line-height:0 !important; font-family:unset !important; padding-top:5px; padding-right:10px "
            (click)="expanded = !expanded">
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
        <app-menu [Type]="expanded"></app-menu>
    </div>
    <div [ngClass]="{ 'menu-mobile': expanded, 'menu-mobile-collapsed': !expanded }">
        <div style="width: 100%; height: 100%;">
            <fa-icon [icon]="faAngleRight" style="padding:1%; font-size: 35px; float:left;" (click)="expanded = !expanded"></fa-icon>
            <app-menu-mobile [expanded]="expanded"></app-menu-mobile>
        </div>
    </div>

    <div [ngClass]="{ 'menu-background': expanded, 'menu-background-collapsed': !expanded }">
    </div>
    <div [ngClass]="{ 'app': expanded, 'app-collapsed': !expanded }">
        <router-outlet></router-outlet>
    </div>

</div>