// popover

@keyframes popover-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  
  .popover-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .popover-on {
    z-index: 3
  }
  
  .popover-container {
    position: absolute;
    top: 5px;
    padding: 5px;
    background-color: #747474;
    border-radius: 3px;
    z-index: -1;
    opacity: 0;
    white-space: nowrap;
    display: none;
    text-align: center;

  }
  
  .popover-on:hover + .popover-container {
    z-index: 5;
    opacity: 100;
    display: initial;
    animation-name: popover-show;
    animation-duration: 500ms;
  }