<div class="popover-wrapper" >
    <fa-icon class="popover-on" [icon]="Icon" [style.fontSize.px]='Size' [style.color]='Color' [style.width.px]='Width'></fa-icon>
    <div class="popover-container" [style.left.px]='leftMinus' [style.width.px]='Width' [style.fontSize.px]='FontSize'>{{Text}}</div>
</div>