
<div class="last-seen-container">
  <div class="last-seen-entry-container">
    <table class="table table-bordered table-striped" style="text-align: center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Numer Zadania</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Projekt</th>
          <th scope="col">Etap Zadania</th>
          <th scope="col">Typ Zadania</th>
          <th scope="col">Typ Podzadania</th>
          <th scope="col">Data Początku</th>
          <th scope="col">Data Końca</th>
          <th scope="col">Czas Poświęcony</th>
          <th scope="col">Priorytet</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let case of Tasks; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{case.Order}}</td>
          <td>{{case.Name}}</td>
          <td>{{case.Case.Name}}</td>
          <td>{{case.TaskTagMain.Name}}</td>
          <td *ngIf="case.TaskTagAccessoryId != null">{{case.TaskTagAccessory.Name}} </td>
          <td *ngIf="case.TaskTagAccessoryId == null"></td>
          <td *ngIf="case.TaskTagAccessoryMinorId != null">{{case.TaskTagAccessoryMinor.Name}} </td>
          <td *ngIf="case.TaskTagAccessoryMinorId == null"></td>
          <td>{{case.StartDate | date:'yyyy-MM-dd'}}</td>
          <td>{{case.EndDate | date:'yyyy-MM-dd'}}</td>
          <td>
            <app-time-bar-color [TimeEstimated]="case.TimeEstimated" [TimeTaken]="case.TimeTaken"></app-time-bar-color>
          </td>
          <td><fa-icon class="popover-on" [icon]="faExclamation" [style.fontSize.px]='24'
            [style.color]='case.Priority.BackgroundColor'></fa-icon></td>
          <td> <fa-icon class="popover-on" [icon]="faStar" [style.fontSize.px]='22'
            [style.color]='case.Status.BackgroundColor'></fa-icon></td>
        </tr>
       
      </tbody>
    </table>
  </div>
</div>