.filter-panel {
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
}

.filter-name {
  float: left;
  height: 100%;
  width: 100px;
  color: #222222;
  text-align: center;
  padding-top: 12px;
}

.view-type {
  float: right;
  width: 100px;
  height: 100%;
  background-color: #222222;
}

.view-type-icon {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-top:7px;
  color: white;
  cursor: pointer;
}

.view-type-icon:hover {
  background-color: #d4d4d4;
}

.date-filter {
  float: left;
  width: 150px;
  height: 100%;
  color: #222222;
  padding-top: 5px;
  border-right: 1px solid #d4d4d4;
  text-align: center
}

.more-filters {
  float: left;
  height: 100%;
  color: #222222;;
  padding: 12px;
  padding-top:0px;
  background-color: white;
  border-right: 1px solid #d4d4d4;
  cursor: pointer;
}

.add {
  float: left;
  height: 100%;
  padding: 12px;
  padding-top: 0px;
  color: #222222;
  border-right: 1px solid #d4d4d4;
  cursor: pointer;
}

.add:hover {
  background-color: #d4d4d4;
}

.more-filters:hover {
  background-color: #d4d4d4;
  color: #222222;
}

.task-status-button {
  width: 100px;
  border-left: 1px solid #d4d4d4;
  height: 50px;
  float: left;
  position: relative;
  cursor: pointer;
}

.task-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  top: 49px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #222222;
}

.task-status-button:hover .task-dropdown-content {
  display: block;
}

.task-picked-entry {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 50px;
  color: #d4d4d4;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-dropdown-entry {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d4d4d4;
  margin: 0px;
}

.task-dropdown-entry:hover{
  color: #ffffff;
}