Status:
<div class="status-container">
  <div *ngFor="let status of statuses" name="status" [ngClass]="{ 'status': status.Id != pickedStatus.Id , 'status-picked': status.Id == pickedStatus.Id }"
    [style.backgroundColor]="status.BackgroundColor" [style.color]="status.Color" (click)="changeStatus(status)">
    {{status.Name}}</div>
</div>