<div class="payment-container">
  <div class="payment-reciver">{{user.Name}}</div>
  <div class="new-payment-period">
      <div class="new-payment-date">
        <input type="hidden" [matDatepicker]="picker" [(ngModel)]="newPaymentPeriod.StartJsDate" (ngModelChange)="changeStartDate()">
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
        {{ newPaymentPeriod.StartJsDate | date:'yyyy-MM-dd' }} - {{ newPaymentPeriod.FinishJSDate| date:'yyyy-MM-dd' }}
      </div>
      
      <div class="new-payment-date">
        <input type="hidden" [matDatepicker]="picker1" [(ngModel)]="newPaymentPeriod.FinishJSDate" (ngModelChange)="changeFinishDate()">
        <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker1></mat-datepicker>
      </div>

      <div class="new-payment-netto">
        Stawka Netto: 
        <mat-form-field style="width:50px; margin-left: 4px;">
            <input matInput type="number" value="0"  [(ngModel)]="newPaymentPeriod.Netto">
          </mat-form-field>
        zł/godzinę
      </div>

      <div class="new-payment-brutto">
        Stawka Brutto:
        <mat-form-field style="width:50px; margin-left: 4px;">
            <input matInput type="number"  value="0" [(ngModel)]="newPaymentPeriod.Brutto">
          </mat-form-field>
        zł/godzinę
      </div>
      <div class="new-payment-button-container">
          <button class="new-add-payment" (click)="addPaymentPeriod()">Dodaj</button>
      </div>
      
    </div>
  <div class="payment-periods-container">
    <div class="payment-period-model" *ngFor="let payment of user.PaymentPeriods">
      <div class="payment-time">{{payment.StartJsDate  | date:'yyyy-MM-dd HH:mm'}} - {{payment.FinishJSDate  | date:'yyyy-MM-dd HH:mm'}}</div>
      <div class="payment-netto">Stawka Godzinowa Netto: {{payment.Netto}} zł</div>
      <div class="payment-brutto">Stawka Godzinowa Brutto: {{payment.Brutto}}zł</div>
      <div class="payment-button-container">
        <button class="new-add-payment">
            usuń
        </button>
      </div>
    </div>
  </div>
</div>
