.payment-reciver {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: #222222;
    color: white;
}

.new-payment-container {
    padding: 5px;
}

.new-payment-period {
    padding: 5px;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid #222222;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    overflow: auto;
}

.new-payment-date {
    padding-top: 10px;
    float: left;
}

.new-payment-netto {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.new-payment-brutto {
    float: left;
}

.new-add-payment {
    outline: none;
    background-color: #222222;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.new-add-payment:hover {
    background-color: #d4d4d4;
    color: #222222;
}

.new-payment-button-container {
    float: right;
    overflow: auto;
    padding-top: 10px;
}

.payment-time {
    float: left;
}

.payment-netto {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.payment-brutto {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.payment-button-container {
    float: right;
}

.payment-period-model {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    overflow: auto;
}