.last-seen-container {
    width: 60%;
    padding: 20px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    color: #222222;
    text-align: center;
    border: 1px solid #d4d4d4;
}

.last-seen-title {
    background-color: #222222;
    color: white;
    padding: 10px;
    text-align: left;
}

.last-seen-entry-container {
    height: 500px;
    overflow: auto;
    text-align: left;
}

.last-seen-button {
    background-color: #222222;
    padding: 8px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.last-seen-button:hover {
    background-color: #d4d4d4;
    color: #222222;
}

.last-seen-entry {
    padding: 0;
    padding-top: 20px;
    width: 100%;
    height: 350px;
    width: 100%;
}

.show-button {
    cursor: pointer;
}

.show-button:hover {
    color: #d4d4d4;
    background-color: #222222;
}

@media (max-width: 960px) { 
    .last-seen-container { 
        width: 100%;
    }
}