
<div class="last-seen-container">
    <div class="last-seen-title">
        Ostatinio Otwierane
        <fa-icon style="float: right" class="show-button" *ngIf="!showLastSeen" [icon]="faChevronCircleDown" (click)="showLastSeen = !showLastSeen">
        </fa-icon>
        <fa-icon style="float: right" class="show-button" *ngIf="showLastSeen" [icon]="faChevronCircleUp" (click)="showLastSeen = !showLastSeen">
          </fa-icon>
      </div>
  <div *ngIf="showLastSeen" class="last-seen-entry-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Typ</th>
          <th scope="col">Numer</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Projekt/Klient</th>
          <th scope="col">Przejdz do</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lastSeen of lastSeenArr; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td *ngIf="lastSeen.TaskId != null">Zadanie</td>
          <td *ngIf="lastSeen.TaskId == null">Projekt</td>
          <td *ngIf="lastSeen.TaskId != null">{{lastSeen.Task.Order}}</td>
          <td *ngIf="lastSeen.TaskId == null">{{lastSeen.Case.Order}}</td>
          <td *ngIf="lastSeen.TaskId != null">{{lastSeen.Task.Name}}</td>
          <td *ngIf="lastSeen.TaskId == null">{{lastSeen.Case.Name}}</td>
          <td *ngIf="lastSeen.TaskId != null">{{lastSeen.Task.Case.Name}}</td>
          <td *ngIf="lastSeen.TaskId == null">{{lastSeen.Case.Client.Name}}</td>
          <td *ngIf="lastSeen.TaskId != null"><fa-icon style="cursor:pointer" [routerLink]="['/tasks', lastSeen.TaskId]" [icon]="faArrow"></fa-icon></td>
          <td *ngIf="lastSeen.TaskId == null"><fa-icon style="cursor:pointer" [routerLink]="['/cases', lastSeen.CaseId]" [icon]="faArrow"></fa-icon></td>
        </tr>
       
      </tbody>
    </table>
  </div>
</div>