.ecp-new {
    width: 65%;
    padding: 6px;
    border: 1px solid #d4d4d4;
    overflow: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
}
.ecp-unit {
    width: 100%;
    padding: 10px;
    border: 1px solid #d4d4d4;
    overflow: auto;
}

.ecp-unit-picked {
    background-color: #eeeeee;
}

.houres-picker {
    width: 50px;
    float: left;
}

.minutes-picker {
    width: 50px;
    float: left;

}

.start-time-panel {
    float: left;
}

.finish-time-panel {
    float: right;
}

.time-padding {
    padding-top: 15px;
    padding-right: 5px;
}

/deep/ .mat-form-field-infix {
    margin-top: 0px !important;
}

mat-form-field {
    padding: 0px !important;
}

/deep/ .mat-input-wrapper { padding: 5px 3px; }

div.mat-form-field-infix { padding: 0em 0 !important }

.ecp-description {
    width: 100%;
}

.add-ecp-button {
    float: right;
    background-color: #222222;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid red;
}

.add-ecp-button:hover {
    background-color: #d4d4d4;
    color: #222222;
}