<div style="width:35%; float:left; padding-left: 10px" *ngIf="allowEdit">
    <mat-form-field style="width:100%">
        <textarea   matInput placeholder="Opis" style="float: right" [(ngModel)]="description"></textarea>
    </mat-form-field>
</div>
<div class="ecp-new" *ngIf="allowEdit">
    <div class="time-padding" style="float: left;">Początek:</div>
    <div class="start-time-panel">
        <mat-form-field class="houres-picker" >
            <mat-select [(value)]="newStartTimeHours"> 
                <mat-option *ngFor="let hour of hours" [value]="hour">
                    {{hour}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="time-padding" style="float: left">:</div>
        <mat-form-field class="minutes-picker">
            <mat-select [(value)]="newStartTimeMinutes">
                <mat-option *ngFor="let minute of minutes" [value]="minute">
                    {{minute}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="finish-time-panel" *ngIf="allowEdit">
        <div style="float: right; padding-top: 10px">
            <div class="add-ecp-button" (click)="newEcp()">Raportuj Czas</div>
        </div>
            <mat-form-field class="houres-picker">
                <mat-select [(value)]="newFinishTimeHours">
                    <mat-option *ngFor="let hour of hours" [value]="hour">
                        {{hour}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="time-padding" style="float: left">:</div>
            <mat-form-field class="minutes-picker">
                <mat-select [(value)]="newFinishTimeMinutes">
                    <mat-option *ngFor="let minute of minutes" [value]="minute">
                        {{minute}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="time-padding" style="float: right;">Koniec:</div>
</div>

<div style="padding: 5px" *ngFor="let ecp of Ecps">
    <div  (click)="editEcp(ecp)" class="ecp-unit" [ngClass]="{ 'ecp-unit-picked': ecp.TaskId === Task.Id || ecp.AllowEdit }">
            <div *ngIf="ecp.AllowEdit">
                    <div class="time-padding" style="float: left;">Początek:</div>
                    <div class="start-time-panel">
                        <mat-form-field class="houres-picker" >
                            <mat-select [(value)]="ecp.StartTimeHours"> 
                                <mat-option *ngFor="let hour of hours" [value]="hour">
                                    {{hour}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="time-padding" style="float: left">:</div>
                        <mat-form-field class="minutes-picker">
                            <mat-select [(value)]="ecp.StartTimeMinutes">
                                <mat-option *ngFor="let minute of minutes"  [value]="minute">
                                    {{minute}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <fa-icon [icon]="faCheck" style="font-size: 25px; padding-left: 10px; float:right" (click)="submitEdit(ecp)"></fa-icon>
                    <div class="finish-time-panel">
                            <mat-form-field class="houres-picker">
                                <mat-select [(value)]="ecp.FinishTimeHours">
                                    <mat-option *ngFor="let hour of hours" [value]="hour">
                                        {{hour}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="time-padding" style="float: left">:</div>
                            <mat-form-field class="minutes-picker">
                                <mat-select [(value)]="ecp.FinishTimeMinutes">
                                    <mat-option *ngFor="let minute of minutes" [value]="minute">
                                        {{minute}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="time-padding" style="float: right;">Koniec:</div>
                </div>
                <div *ngIf="!ecp.AllowEdit && ecp.Task !== null">
                    {{ecp.StartTimeJs | date:'HH:mm'}} - {{ecp.FinishTimeJs | date:'HH:mm'}} {{ecp.Task.Name}}
                    <fa-icon [icon]="faMinus" style="font-size: 25px; padding-left: 10px; float:right" (click)="removeEcp(ecp)"></fa-icon>
                </div>
                <div *ngIf="!ecp.AllowEdit && ecp.Task === null">
                    {{ecp.StartTimeJs | date:'HH:mm'}} - {{ecp.FinishTimeJs | date:'HH:mm'}} czas poza zleceniem
                    <fa-icon [icon]="faMinus" style="font-size: 25px; padding-left: 10px; float:right" (click)="removeEcp(ecp)"></fa-icon>
                </div>
                <div class="ecp-description" *ngIf="!ecp.AllowEdit">{{ecp.Description}}</div>
    </div>
</div>
