<mat-form-field [formGroup]='ParentForm' style="width:100%">
  <input type="text" placeholder="Wybierz Szablon" aria-label="Number" name="template" matInput formControlName="template" 
    [matAutocomplete]="auto" (input)="onFilterTemplates($event.target.value)">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let template of templatesAsync| async" [value]="template.Name" (onSelectionChange)="pickTemplate($event, template)">
      <div style="float: left">{{template.Name}}</div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>