<div class="calendar-container-filters">
  <div class="calendar-header">
    <div style="height: 50px; padding-left: 15px; float: left; text-align: center;vertical-align: middle;display: flex;align-items: center; justify-content: center;">Filtruj
      po</div>
    <div class="calendar-filter-button-container">
      <div class="calendar-filter-button" (click)="expanded = !expanded">
        <div class="filter-text">{{ picked }}</div>
      </div>
      <div class="calendar-filter-button" (click)="changeFiltering(1, 'Twoim Ecp')" *ngIf="expanded" style="top:50px;">
        <div class="filter-text">Moich Zadaniach</div>
      </div>
      <div class="calendar-filter-button" (click)="changeFiltering(2, 'Użytkownikach')" *ngIf="expanded && authService.roleMatch([rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader])"
        style="top:100px;">
        <div class="filter-text">Użytkownikach</div>
      </div> 
      <div class="calendar-filter-button" (click)="changeFiltering(3, 'Dniu')" *ngIf="expanded && authService.roleMatch([rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader])"
      style="top:150px;">
      <div class="filter-text">Dniu</div>
    </div> 
    </div>
    <div class="calendar-date-filter-conatiner">
      <div class="calendar-date-filter" style="float: left;">
        <input type="hidden" [matDatepicker]="picker" [(ngModel)]="startDate" (ngModelChange)="changeDate()" style="float: left;">
        <mat-datepicker-toggle [for]="picker" style="float: left;"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker style="float: left;"></mat-datepicker>
      </div>
      <div style="float: left; color: #222222; padding-top: 13px;">{{ startDate | date:'yyyy-MM-dd' }} - {{ endDate |
        date:'yyyy-MM-dd' }}</div>
      <div class="calendar-date-filter" style="float:right">
  
        <input type="hidden" [matDatepicker]="picker1" [(ngModel)]="endDate" (ngModelChange)="changeDate()" style="float:right">
        <mat-datepicker-toggle [for]="picker1" style="float:right"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker1 style="float:right"></mat-datepicker>
      </div>
    </div>
  </div>
  <mat-tab-group (selectedTabChange)="loadChart($event)">
    <mat-tab label="Kalendarz">
      <div class="calendar-container">
        <div class="calendar-date">
          <button class='calendar-button calendar-button-left' (click)="onPreviousMonth()">
            < </button> <button class='calendar-button calendar-button-right' (click)="onNextMonth()"> >
          </button>
          <div class="calendar-date-name">{{ Date | date:'yyyy-MM' }}</div>
  
        </div>
        <div class="calendar-day-names">
          <div *ngFor="let dayName of dayNames" class="calendar-day-name-padding">
            <div class="calendar-day-name">
              {{dayName}}
            </div>
          </div>
        </div>
        <div class="calendar-days">
          <div *ngFor="let day of days" class="calendar-day-padding" (click)="openEcpDialog(day.date)">
            <div class="calendar-day" *ngIf="!day.IsTransparent">{{day.day}}
              <div *ngIf="day.TimeWorked != null" style="position: absolute; left: 5px; bottom: 1px; font-size: 13.5px">Czas: {{day.TimeWorked}}</div>
              <div class="calendar-reported" *ngIf="day.IsTimeReported"><fa-icon [icon]="faUserTag"></fa-icon></div>
            </div>
            <div class="calendar-day-transparent" *ngIf="day.IsTransparent"></div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Oś Czasu">
      <app-ecp-timeline></app-ecp-timeline>
    </mat-tab>
    <mat-tab label="Karta Pracy">
      <app-user-table></app-user-table>
    </mat-tab>
  </mat-tab-group>
</div>
