.calendar-container-filters {
    float: left;
    width: 100%;
    height: 100vh;
    overflow: auto;
    overflow-y: scroll;
    position: relative;
}

.calendar-container {
    width: 100%;
    height: 100%;
}

.calendar-date {
    margin: auto;
    text-align: center;
    color: #222222;
    font-size: 25px;
    overflow: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
}

.calendar-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #222222;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.calendar-button:hover {
    background-color: #d4d4d4;
}

.calendar-button-left { 
    float: left
}

.calendar-button-right { 
    float: right;
}


.calendar-day-names {
    color: white;
    width: 100%;
    overflow: auto;
    padding-left: 2%;
    padding-top: 30px;
}



.calendar-day-name {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #222222;
}

.calendar-day-name-padding {
    width: 14%;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
}

.calendar-days {
    padding-left: 2%;
    overflow: auto;
    padding-top: 20px;
}

.calendar-day-padding {
    width: 14%;
    padding: 5px;
    float: left;
    position: relative;
}

.calendar-reported {
    position: absolute;
    right: 2px;
    bottom: 2px;
    font-size: 12px;
    color: #222222;
}

.calendar-day {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 75px;
    text-align: center;
    background-color: white;
    border-right: #222222;
    border: 1px solid #222222;
    color: #222222;
    cursor: pointer;
    position: relative;
}

.calendar-day:hover { 
    background-color: #d4d4d4;
}

.calendar-header {
    width: 100%;
    background-color: white;
    border-bottom: 1px #d4d4d4 solid;
    height: 50px;
    color: #222222;
}

.calendar-filter-button {
    position: absolute;
    height: 50px;
    width: 150px;
    background-color: #222222;
    color: white;
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    cursor: pointer;
    z-index: 5;

}

.calendar-filter-button:hover {
    background-color: #d4d4d4;

}

.calendar-filter-button-container {
    position: relative;
    padding-left: 10px;
    float: left;

}

.filter-text {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.calendar-date-filter-conatiner {
    position: absolute;
    left: 250px;
    width: 300px;
    overflow: auto;
    height: 50px;
    float:left;
    background-color: white;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    z-index: 5;
}


.calendar-date-filter {
    float: left;
    color: #222222;
    height: 100%;
    width: 20%;
    padding-top: 5px;
    z-index: 5;
}