<div class="mobile-menu-entry" [routerLink]="['/auth']" *ngIf="expanded">
  Mój Panel
  <fa-icon [icon]="faUserCircle"></fa-icon>
</div>
<div class="mobile-menu-entry" [routerLink]="['/cases/0']" *ngIf="expanded">
  Projekty
  <fa-icon [icon]="faStickyNote"></fa-icon>
</div>
<div class="mobile-menu-entry" [routerLink]="['/tasks/0']" *ngIf="expanded">
  Zadania
  <fa-icon [icon]="faObjectGroup" *ngIf="expanded"></fa-icon>
</div>
<div class="mobile-menu-entry" [routerLink]="['/ecp-calendar']" *ngIf="expanded">
  Kalendarz
  <fa-icon [icon]="faCalendar"></fa-icon>
</div>

