<div [style.height]="height" style="width:100%;">
    <div class="file-modal" *ngIf="showModal">
        <div style="height: 100%; width:100%; position:relative; padding: 20px; border: 1px solid #d4d4d4;">
                <div style="width: 100%; height: 60%;">{{ pickedFile }}</div>
                <button class="file-modal-button" (click)="DownloadFile()">Pobierz plik</button>
                <button class="file-modal-button" (click)="RemoveFile()">Usuń plik</button>
                <button class="file-modal-button" (click)="SendFileToBim360()">Dodaj do BIM 360</button>
                <button class="file-modal-close" (click)="showModal = false"><div>x</div></button>
        </div>
        
    </div>
    <div
        style="width:100%; height:50px; display: flex; justify-content: center; align-items: center; background-color: #222222; color: white; border-left: 1px solid #d4d4d4; border-right: 1px solid #d4d4d4">
        {{Title}} </div>
    <div class='files-viewer' style="overflow: auto; width: 100%;">
        <tree-root #tree class="forge-files" [nodes]="nodes" (activate)=" PickFile($event)" [options]="optionsTree">
        </tree-root>
    </div>
    <app-files-upload style="height: 50px" [FolderId]="FolderId"></app-files-upload>
</div>