.files-viewer {
    height: calc(100% - 100px)
}

.file-modal-button {
    width: 33%;
    float: left;
    background-color: #222222;
    border: 1px solid #d4d4d4;
    color: white;
    padding: 5px;
    cursor: pointer;
    height: 40%;
}

.file-modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    background-color: #222222;
    border: 1px solid #d4d4d4;
    color: white;
    cursor: pointer;
    display:  flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.file-modal-close:hover {
    background-color: #d4d4d4;
    color: #222222;
}

.file-modal-button:hover {
    background-color: #d4d4d4;
    color: #222222;
}

.file-modal {
    position: fixed;
    width: 30vw;
    height: 20vh;
    left: 40vw;
    top: 30vh;
    z-index: 1001;
    background-color: white;
}