<div class="memo-title">
  {{ data.Memo.Title }}
</div>

<div class="memo-description">
  {{ data.Memo.Description }}
</div>

<div class="memo-assignee">
  {{ data.Memo.Assignee.Name }}
</div>

<app-files-viewer [FolderId]="data.Memo.FolderId" [height]="'300px'"></app-files-viewer>