.memo-title {
    background-color: #222222;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 20px;
}

.memo-description {
    padding: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.memo-assignee {
    float: right;
}