<div class="tags-panel-container">
  <div class="tags-name">Etapy Zadań</div>
  <div class="tags-container">
    <div *ngFor="let tag of MainTags">
      <div class="tag" (click)="pickMainTag(tag)" *ngIf="tag.Id !== PickedMainTagId">{{ tag.Name }}<div style='float:right' class='tag-copy' *ngIf="AllowEdit" (click)="copyMainTag(tag)"><fa-icon [icon]="faCopy"></fa-icon></div></div>
      <div class="tag" (click)="pickMainTag(null)" style="background-color: #d4d4d4" *ngIf="tag.Id === PickedMainTagId">
        {{ tag.Name }}<div style='float:right' *ngIf="AllowEdit" class='tag-copy' (click)="copyMainTag(tag)"><fa-icon [icon]="faCopy" ></fa-icon></div></div>
    </div>
  </div>
  <div class="task-tag-input-container" style="border-left: none;" *ngIf="AllowEdit">
    <input class="task-tag-input" *ngIf="PickedMainTagId !== null && PickedMainTagId !== undefined"
      [(ngModel)]="EditTaskTagMainName" placeholder="Edytuj Etap Zadania">
    <input class="task-tag-input" *ngIf="PickedMainTagId === null || PickedMainTagId === undefined"
      [(ngModel)]="NewMainTag.Name" placeholder="Nazwa Etapu Zadania">
  </div>
  <div class="task-text-container" *ngIf="AllowEdit">
    <div class="task-tag-button" *ngIf="PickedMainTagId === null || PickedMainTagId === undefined"
      (click)="addMainTag()">Dodaj Etap Zadań</div>
    <div class="task-tag-button" *ngIf="PickedMainTagId !== null && PickedMainTagId !== undefined"
      (click)="editMainTag()">Edytuj Etap Zadania</div>
    <div class="task-tag-button" (click)="removeMainTag()" style="float: right">Usuń Etap Zadań</div>
  </div>
</div>

<div class="tags-panel-container" style="width: 34%">
  <div class="tags-name">Typ Zadania</div>
  <div class="tags-container" style="border-left: none">
    <div *ngFor="let tag of AccessoryTags">
      <div class="tag" (click)="pickAccessoryTag(tag)" *ngIf="tag.Id !== PickedAccessoryTagId">{{ tag.Name }}
        <div (click)="copyAccessoryTag(tag)" class='tag-copy' style='float:right' *ngIf="AllowEdit"><fa-icon  [icon]="faCopy"></fa-icon></div></div>
      <div class="tag" (click)="pickAccessoryTag(null)" style="background-color: #d4d4d4"
        *ngIf="tag.Id === PickedAccessoryTagId">{{ tag.Name }}<div (click)="copyAccessoryTag(tag)" class='tag-copy' *ngIf="AllowEdit" style='float:right'><fa-icon [icon]="faCopy"></fa-icon></div></div>
    </div>
  </div>
  <div class="task-tag-input-container" style="border-left: none;" *ngIf="AllowEdit">
    <input class="task-tag-input" *ngIf="PickedAccessoryTagId === null || PickedAccessoryTagId === undefined"
      [(ngModel)]="NewAccessoryTag.Name" placeholder="Nazwa Typu Zadania">
    <input class="task-tag-input" *ngIf="PickedAccessoryTagId !== null && PickedAccessoryTagId !== undefined"
      [(ngModel)]="EditTaskTagAccessoryName" placeholder="Edytuj Typ Zadania">
  </div>
  <div class="task-text-container" *ngIf="AllowEdit">
    <div class="task-tag-button" *ngIf="PickedAccessoryTagId === null || PickedAccessoryTagId === undefined"
      (click)="addAccessoryTag()">Dodaj Typ Zadania</div>
    <div class="task-tag-button" *ngIf="PickedAccessoryTagId !== null && PickedAccessoryTagId !== undefined"
      (click)="editAccessoryTag()">Edytuj Typ Zadania</div>
    <div class="task-tag-button" (click)="removeAccessoryTag()" style="float: right">Usuń Typ Zadania</div>
  </div>
</div>
<div class="tags-panel-container">
  <div class="tags-name">Typ Podzadania</div>
  <div class="tags-container" style="border-left: none">
    <div *ngFor="let tag of AccessoryMinorTags">
      <div class="tag" (click)="pickAccessoryMinorTag(tag)" *ngIf="tag.Id !== PickedAccessoryMinorTagId">{{ tag.Name }}<div style='float:right' class='tag-copy' *ngIf="AllowEdit" (click)="copyAccessoryMinorTag(tag)"><fa-icon [icon]="faCopy"></fa-icon></div></div>
      <div class="tag" (click)="pickAccessoryMinorTag(null)" style="background-color: #d4d4d4"
        *ngIf="tag.Id === PickedAccessoryMinorTagId">{{ tag.Name }}<div style='float:right' class='tag-copy' *ngIf="AllowEdit" (click)="copyAccessoryMinorTag(tag)"><fa-icon [icon]="faCopy"></fa-icon></div></div>
    </div>
  </div>
  <div class="task-tag-input-container" style="border-left: none;" *ngIf="AllowEdit">
    <input class="task-tag-input" *ngIf="PickedAccessoryMinorTagId === null || PickedAccessoryMinorTagId === undefined"
      [(ngModel)]="NewAccessoryMinorTag.Name" placeholder="Nazwa Typu Podzadania">
    <input class="task-tag-input" *ngIf="PickedAccessoryMinorTagId !== null && PickedAccessoryMinorTagId !== undefined"
      [(ngModel)]="EditTaskTagAccessoryMinorName" placeholder="Nazwa Typu Podzadania">
  </div>
  <div class="task-text-container" *ngIf="AllowEdit">
    <div class="task-tag-button" *ngIf="PickedAccessoryMinorTagId === null || PickedAccessoryMinorTagId === undefined" (click)="addAccessoryMinorTag()">Dodaj Typ Podzadania</div>
    <div class="task-tag-button" *ngIf="PickedAccessoryMinorTagId !== null && PickedAccessoryMinorTagId !== undefined" (click)="editAccessoryMinorTag()">Edytuj Typ Podzadania</div>
    <div class="task-tag-button" (click)="removeAccessoryMinorTag()" style="float: right">Usuń Typ Podzadania</div>
  </div>
</div>