.tags-container {
    width: 100%;
    height: 150px;
    border: 1px solid #d4d4d4;
    background-color: white;
    float: left;
    text-align: center;
    overflow-y: scroll;
}

.tag {
    border-bottom: 1px solid #d4d4d4;
    padding: 5px;
    cursor: pointer;
}

.tags-name {
    width: 100%;
    float: left;
    text-align: center;
    height: 25px;
}

.tags-panel-container {
    width: 33%;
    float: left;
    overflow: auto;
}

.case-text-container {
    width: 100%;
    float: left;
}

.task-tag-button {
    background-color: white;
    display: inline-block;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-top: none;
    cursor: pointer;
}

.task-tag-button:hover {
    background-color: #d4d4d4;
    color: #222222;
}

.task-tag-input {
    width: 100%;
   outline: none;
   border: none;
   padding: 5px;
}

.task-tag-input-container {
    width: 100%;
    background-color: white;
    border: 1px solid #d4d4d4;
    border-top: none;
    float: left;
}

.tag-copy {
    float: right;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}

.tag-copy:hover {
    background-color: #222222;
    color: #d4d4d4;
}