<div style="width: 100%; overflow: auto">
    <fa-icon [icon]="faPlus" class="add-template" (click)="addTemplate()"></fa-icon>
</div>
<app-table
[tableData]="templates"
[tableNames]="tableNames"
[tableObjects]="tableObjects"
[tableSubObjects]="tableSubObjects"
[tableSubNames]="tableSubNames"
[tableSubDataObject]="'TaskTemplates'"
></app-table>