.section {
    width: 33%;
    float: left;
    overflow: auto;
}

.section-mid {
    width: 34%;
    float: left;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    overflow: auto;
}

.tile-padding {
    overflow: auto;
    padding: 15px;
    height: 310px;
}

.name-task {
    width: 100%;
    background-color: white;
    color: #222222;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}

.container-tasks {
    overflow: auto;
    vertical-align: top;
    margin: 0px;
    padding: 0;
    width: 100%;
    max-height: 100%;
    background-image: linear-gradient(
        -45deg,
        rgb(216, 216, 216) 20%,
        transparent 20%,
        transparent 55%,
        rgb(216, 216, 216) 55%,
        rgb(216, 216, 216) 70%,
        transparent 70%,
        transparent
      );
      background-size: 4px 4px;
}
