<div class="container-tasks" *ngIf="TasksType === false">
  <div class="section">
    <div class="name-task"><h3>Nowy</h3></div>
    <div *ngFor="let task of NewTasks" class="tile-padding">
      <app-tile [Type]="'task'" [Model]="task"></app-tile>
    </div>

  </div>
  <div class="section-mid">
    <div class="name-task"><h3>W realizacji</h3></div>
    <div *ngFor="let task of InProgressTasks" class="tile-padding">
      <app-tile [Type]="'task'" [Model]="task"></app-tile>
    </div>
  </div>
  <div class="section">
    <div class="name-task"><h3>Zrealizowany</h3></div>
    <div *ngFor="let task of EndedTasks" class="tile-padding">
      <app-tile [Type]="'task'" [Model]="task"></app-tile>
    </div>
  </div>
</div>
<div class="container-list" *ngIf="TasksType">
  <div class="name-list-task"><h3>Nowy</h3></div>
  <app-tasks-list [Types]='"new"' [Tasks]="NewTasks"></app-tasks-list>
  <div class="name-list-task"><h3>W realizacji</h3></div>
  <app-tasks-list [Types]="'InProgress'" [Tasks]="InProgressTasks"></app-tasks-list>
  <div class="name-list-task"><h3>Zrealizowany</h3></div>
  <app-tasks-list [Types]="'Ended'" [Tasks]="EndedTasks"></app-tasks-list>
</div>