<div class="header" *ngIf="data.Type !== 'edit'">
  Nowy Szablon
</div>

<div class="header" *ngIf="data.Type === 'edit'">
  {{ newTemplate.Name }}
</div>
<form [formGroup]='NewTemplateForm'>
  <div style="float: left; width: 50%; padding-top: 20px">

    <mat-form-field>
      <input formControlName="name" matInput placeholder="Nazwa Szablonu*">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="taskName" matInput placeholder="Nazwa Zadania*">
    </mat-form-field>

    <div style="width: 100%; padding: 20px;" *ngIf="showCasePicker">
      <app-case-picker [ParentControl]="NewTemplateForm"></app-case-picker>
    </div>

    <div style="width: 100%;" *ngIf="!showCasePicker">
        <mat-form-field [formGroup]='NewTemplateForm' style="width:100%">
            <input type="text" placeholder="Wybierz Szablon" aria-label="Number" name="representative" matInput formControlName="template" 
              [matAutocomplete]="autoRepresentative" (input)="onFilterTemplates($event.target.value)">
            <mat-autocomplete #autoRepresentative="matAutocomplete">
              <mat-option *ngFor="let template of filteredTemplates| async" [value]="template.Name" (onSelectionChange)="changeTemplate($event, client)">
                <div style="float: left">{{ template.Name }}</div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>

    <div style="width: 100%; float: left;">
      <div>Etap zadania należy wybrać</div>
      <app-tags-picker *ngIf="data.Type === 'edit' && !data.IsFromTemplate" [CaseTagId]="caseTagParentId"
      [PickedMainTagId]="data.Template.TaskTagMainId" [PickedAccessoryTagId]="data.Template.TaskTagAccessoryId"
      [PickedAccessoryMinorTagId]="data.Template.TaskTagAccessoryMinorId" [ShowCaseTags]="false"></app-tags-picker>
      <app-tags-picker *ngIf="data.Type !== 'edit'" [CaseTagId]="caseTagParentId" [ShowCaseTags]="false"></app-tags-picker>
    </div>
  </div>

  <div style="float: right; width: 50%; padding-top: 20px">
    <section style="width: 100%; float: left;">
      <mat-form-field class="example-margin">
        <input matInput type="number" formControlName="timeEstimated"
          placeholder="Czas Przwidywany Dla Projektu* (Roboczogodziny)">
      </mat-form-field>
    </section>
    <app-priority-picker [pickedPriorityId]="newTemplate.PriorityId"></app-priority-picker>
    <mat-form-field>
      <textarea matInput placeholder="Opis" formControlName="description" style="float: right"></textarea>
    </mat-form-field>
  </div>
  * - Obowiązkowe Pola
  <div style="width: 100%; float: left; overflow: auto;">
    <button (click)="onSubmit()" *ngIf="data.Type !== 'edit'" type="submit" class="button">Dodaj Szablon</button>
    <button (click)="onSubmit()" *ngIf="data.Type === 'edit'" class="button">Edytuj Szablon</button>
    <button (click)="onClose()" class="button" style="margin-right: 5px;">Wróć</button>
  </div>
</form>