<div class="group-header">
  <div style="float: left">
    <fa-icon [icon]="faUserFriends" style="font-size: 25px;"></fa-icon>
  </div>
  <div style="float: left; padding-top: 3px; padding-left: 15px; font-size: 20px;">{{Group.Name}}</div>
  <div style="float: right">
    <fa-icon [icon]="faAngleDown" style="font-size: 25px;" *ngIf="!expanded" (click)="expanded = !expanded"></fa-icon>
    <fa-icon [icon]="faAngleUp" style="font-size: 25px;" *ngIf="expanded" (click)="expanded = !expanded"></fa-icon>
  </div>
  <div style="float: right; padding-right: 5px">
    <fa-icon [icon]="faMinus" style="font-size: 25px;" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader]" (click)="removeGroup(Group)"></fa-icon>
  </div>
</div>
<div class="user-container" *ngIf="expanded == true">
  <div>
    <form class="example-form" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader]">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input type="text" placeholder="Dodaj Uzytkownika" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto" (focus)="sortUsers()" (input)="onFilterUsers($event.target.value)">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of FilteredUsersAsync| async" [value]="user.Name" (onSelectionChange)="addUserToGroup(user)">
            {{user.Name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="user" *ngFor="let user of Group.Users; let i = index">
      <div style="width: 100%">
        <div style="float: left">
          <fa-icon [icon]="faUserAlt" style="font-size: 25px;"></fa-icon>
        </div>
        <div style="float: left; padding-top: 8px; padding-left: 15px; font-size: 20px;">{{user.Name}}</div>
        <div style="float: right; padding-top: 5px" (click)="removeUserFromGroup(user, i)">
          <fa-icon [icon]="faMinus" style="font-size: 20px;" class="minus" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader]"></fa-icon>
        </div>
        <div style="float: left;" *ngIf="user.Id == Group.TeamLeaderId" class="active-star">
          <fa-icon [icon]="faStar" style="font-size: 25px;"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team-leader-container" *ngIf="expanded == true">
  Lider Zespołu : {{ pickedTeamLeader.Name }}
  <form class="example-form" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager]">
    <mat-form-field class="example-full-width" style="width: 100%">
      <input type="text" placeholder="Wybież Lidera"  aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (focus)="sortUsers()" (input)="onFilterUsers($event.target.value)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of FilteredTeamLeadersAsync | async" [value]="user.Name" (onSelectionChange)="setGroupTeamLeader($event, user.Id)">
          {{user.Name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>