.group-header {
  width: 100%;
  background-color: #222222;
  color: white;
  padding: 10px;
  overflow: auto;
  background-image: linear-gradient(
    to right,
    rgb(87, 184, 179) 20%,
    rgb(50, 138, 32) 20%,
    rgb(50, 138, 32) 70%,
    rgb(0, 89, 255) 70%,
    rgb(0, 89, 255) 85%,
    rgb(87, 184, 179) 85%
  );
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.user-container {
  width: 100%;
  background-color: white;
  border: 1px solid #d4d4d4;
  color: #222222;
  padding: 10px;
  overflow: auto;
}

.user {
  border-bottom: 1px solid #d4d4d4;
  overflow: auto;
  background-image: linear-gradient(
    to right,
    #ff6859 30%,
    #ffcf44 30%,
    #ffcf44 90%,
    #ff6859 90%
  );
  background-size: 100% 1.5px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}


.minus {
  cursor: pointer;
  border-radius: 40px;
}

.minus:hover {
  background-color: #d4d4d4;
}


.non-active-star{ 
  color: #d4d4d4;
  cursor: pointer;
}


.non-active-star:hover {
  color: #ffcf44;
}

.active-star{ 
  color: #ffcf44;
  cursor: pointer;
}


.active-star:hover {
  color: #d4d4d4;
}

.team-leader-container {
  width: 100%;
  border: 1px solid #d4d4d4;
  border-top: none;
  background-color: white;
  color: #222222;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}