.forge-files {
    width: 100%;
    height: 100%;
    float: left;
}
.bim-viewer {
    height: calc(100% - 120px)
}
.add-folder {
    border: 1px solid #d4d4dd;
    cursor: pointer;
}

.add-folder:hover {
    background-color: #d4d4dd;
    color: #222222;
}