<div
    style="width:100%; height:50px; display: flex; justify-content: center; align-items: center; background-color: #222222; color: white; border-left: 1px solid #d4d4d4; border-right: 1px solid #d4d4d4">
    Projekty </div>
<div style="overflow: auto; width: 100%;" class="bim-viewer">
    <tree-root #tree class="forge-files" [nodes]="nodes" (activate)="pickDirectory($event)" [options]="optionsTree">
    </tree-root>
</div>
<div
    style="width:100%; height:70px; background-color: #222222; color: white; border-left: 1px solid #d4d4d4; border-right: 1px solid #d4d4d4; text-align: center">
    <div style="width: 70%; overflow:auto; float:left">
        <div style="width: 100%; float:left; padding: 5px;">
            Projekt/Zadanie: {{pickedDirectoryName}}
        </div>
        <div style="width: 100%; float:left; padding: 5px;">
            Bim360: {{pickedBimDirectoryName}}
        </div>
    </div>
    <div class="add-folder" style="width: 30%; height: 100%; overflow:auto; float:left; display: flex; justify-content: center; align-items: center" (click)="setBimFolder()">
        dodaj
    </div>
</div>