<div class="year-picker">
  <div style="width: 100%">
    <mat-form-field style="padding:15px; width:50%; float: left;">
      <mat-select (change)="pickYear($event.target.value)" placeholder="Rok">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="padding:15px; width:50%; float: left;">
      <mat-select placeholder="Kwartał">
        <mat-option *ngFor="let quarter of quarters; let i = index" (click)="pickQuarter(i)" [value]="quarter">
          {{quarter}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="width: 100%; float: left">
      <button (click)="submit()" class="date-submit-button">Zmień</button>
    </div>
  </div>
</div>