<div class="ecp-user-picker-panel">
  <div class="ecp-user" *ngFor="let user of data.Users" (click)="pickUser(user)" >
    <fa-icon class="popover-on" [icon]="faUserAlt"></fa-icon> {{user.Name}}
  </div>
</div>

