mat-form-field {
    width: 100%;
    padding: 20px;
    float: left;
}

.header {
    width: 100%;
    background-color: #222222;
    color: white;
    padding: 10px;
}

.radio-buttons {
    float: right;
    width: 100%;
    padding: 20px;
}

.button {
    float: right;
    padding: 10px;
    margin-left: 15px;
    color: white;
    background-color: #222222;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #d4d4d4;
}

.close-dialog {
    position: absolute;
    right: -25px;
    top: -25px;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 24px;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
    z-index: 5px; 
    border: 1px solid #d4d4d4;
    background-color: #222222;
    cursor: pointer;
    color: white
}

.close-dialog:hover {
    background-color: #d4d4d4;
}

.calculator {
    position: fixed;
    width: 300px;
    height: 200px;
    left: calc(50% - 150px);
    top: calc(50% - 100px);
    z-index: 12002;
    background-color: white;
    color: #222222;
    border: 1px solid #d4d4d4;
}

.inner-calculator {
    position: relative;
    width: 100%;
    height: 100%;
}

.calculator-close {
    right: 0px;
    top: 0px;
    position: absolute;
    padding: 6px;
    padding-left: 15px;
    cursor: pointer;
    padding-right: 15px;
    font-size: 22px;
    color: #d4d4d4;
    background-color: #222222;
}