<div style="width: 100%; height: 100%; position: relative;">
    <div class="header" *ngIf="data.Type !== 'edit'">
        Nowy Projekt
    </div>

    <div class="header" *ngIf="data.Type === 'edit'">
        {{ newCase.Name }}
    </div>
    <form [formGroup]='NewCaseForm'>
        <div style="float: left; width: 50%; padding-top: 20px">
            <div style="width: 100%; padding: 20px; padding-bottom: 0px;">
                <app-template-picker [ParentForm]="NewCaseForm"></app-template-picker>
            </div>
            <mat-form-field>
                <input formControlName="name" matInput placeholder="Nazwa">
            </mat-form-field>

            <mat-form-field>
                <input formControlName="order" matInput placeholder="Numer Projektu">
            </mat-form-field>

            <div style="width: 100%; padding: 20px;">
                <app-client-picker [ClientId]="newCase.ClientId" [ParentForm]="NewCaseForm"></app-client-picker>
            </div>
            <mat-form-field style="float: left; width: 50%">
                <input matInput [matDatepicker]="dp1" placeholder="Data Początku*"
                    (dateChange)="changeDate('change', $event)" formControlName="startDate" disabled>
                <mat-datepicker-toggle style="color:black" matSuffix [for]="dp1"></mat-datepicker-toggle>
                <mat-datepicker #dp1 disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="float: left; width: 50%">
                <input matInput [matDatepicker]="dp2" formControlName="endDate"
                    (dateChange)="changeDate('change', $event)" placeholder="Data Końca*" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2 disabled="false"></mat-datepicker>
            </mat-form-field>
            <div style="width: 100%; float: left;">
                <div>Typ Pracowni Należy Wybrać</div>
                <app-tags-picker *ngIf="data.Type === 'edit' && newCase.CaseTagChildId === null"
                    [PickedParentTagId]="newCase.CaseTagParentId" [ShowTaskTags]="false"></app-tags-picker>
                <app-tags-picker *ngIf="data.Type === 'edit' && newCase.CaseTagChildId !== null"
                    [PickedParentTagId]="newCase.CaseTagParentId" [PickedChildTagId]="newCase.CaseTagChildId"
                    [ShowTaskTags]="false"></app-tags-picker>
                <app-tags-picker *ngIf="data.Type !== 'edit'" [ShowTaskTags]="false"></app-tags-picker>
            </div>
        </div>

        <div style="float: right; width: 50%; padding-top: 20px">

            <div style="width: 100%; float: left; padding: 20px">
                <app-group-user-picker [ShowOnlyUser]="true" [IsProject]="true" [ParentControl]="NewCaseForm">
                </app-group-user-picker>
            </div>
            <div style="width: 15%; float: left; padding-top:18px; overflow: auto">
                <input (change)="changeHours($event)" matInput type="number" placeholder="Ilosc Pracownikow">
            </div>
            <section style="width: 85%; float: left;">
                <mat-form-field class="example-margin" style="padding: 0px;">
                    <input matInput type="number" formControlName="estimatedTime"
                        placeholder="Czas Przwidywany Dla Projektu* (Roboczogodziny)">
                </mat-form-field>
            </section>
            <app-priority-picker [pickedPriorityId]="newCase.PriorityId"></app-priority-picker>
            <mat-form-field>
                <textarea matInput placeholder="Opis" formControlName="description" style="float: right"></textarea>
            </mat-form-field>
        </div>
        * - Obowiązkowe Pola
        <div style="width: 100%; float: left; overflow: auto;">
            <button (click)="onSubmit()" *ngIf="data.Type !== 'edit'" type="submit" class="button">Dodaj
                Projekt</button>
            <button (click)="onSubmit()" *ngIf="data.Type === 'edit'" class="button">Edytuj Projekt</button>
            <button (click)="closeDialog()" *ngIf="data.Type !== 'edit'" class="button"
                style="margin-right: 5px;">Wróć</button>
            <button (click)="closeDialog()" *ngIf="data.Type === 'edit'" class="button">Usuń Projekt</button>
        </div>
    </form>

    <div (click)="closeDialog()" class="close-dialog">
        <fa-icon [icon]="faTimes"></fa-icon>
    </div>
</div>
<!--
<div class="calculator">
    <div class="innter-calculator">
        <div class="calculator-close">
            <fa-icon [icon]="faTimes"></fa-icon>
        </div>
        <div>Ilo</div>
    </div>
</div> 
-->