<div *ngIf="data.expanded">
  <div class="case">
    <div class="case-header">
      <div style="float: left; padding-top: 6px;">
        {{data.Case.Name}}
      </div>
      <fa-icon [icon]="faEdit" class="edit" (click)="editCase()"
        *ngIf="authService.roleMatch([rolesModel.Admin, rolesModel.ProjectManager])"></fa-icon>
      <fa-icon [icon]="faCopy" class="edit" (click)="templateService.CopyCaseToTemplate(data.Case)"
        *ngIf="authService.roleMatch([rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader])"></fa-icon>
      <div class="case-switch">
        <section style="float:right">
          <mat-slide-toggle class="example-margin" [checked]="tasksType" (change)="tasksType = !tasksType">
            Lista
          </mat-slide-toggle>
        </section>
      </div>
      <div class="status-icon">
        <fa-icon [icon]="faAngleUp" class="edit" style="float:left; padding-right: 10px; font-size: 20px"
          (click)="data.expanded = !data.expanded"></fa-icon>
        <fa-icon [icon]="faTrash" class="edit" style="float:left; padding-right: 10px; font-size: 20px"
          (click)="removeCase()" *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager]"></fa-icon>
        <app-icon-popover style="float:left" [Icon]="faCertificate" [Color]="data.Case.Status.BackgroundColor"
          [Size]="22" [Text]="'Status'" [Width]='80' [Left]='80'></app-icon-popover>
      </div>
    </div>
    <div class='bordered-top'></div>
    <div class="case-company">
      {{ data.Case.Client.Name }}
      <div class="priority-icon">
        <app-icon-popover [Icon]="faExclamation" [Color]="data.Case.Priority.BackgroundColor" [Size]="27"
          [Text]="'Priorytet'" [Width]='80' [Left]='80'></app-icon-popover>
      </div>
    </div>
    <div class="case-description">{{ data.Case.Description }}
    </div>
  </div>
  <div class="case-user" *ngIf="data.Case.User !== null">
    <fa-icon [icon]="faUserAlt" style="font-size: 30px;"></fa-icon> {{ data.Case.User.Name }}
    <app-animated-button [TopIcon]="faFile" [MiddleIcon]="faCopy"
      [MiddleBottomIcon]="faLayerGroup" [BottomIcon]="faPlusSquare" [TopText]="'Otwórz Pliki'"
      [MiddleText]="'Pokaż Notatki'" [MiddleBottomText]="'Pokaż Zadania'" [BottomText]="'Dodaj Zadanie'"
      [MiddleComponent]="memoListComponent" [MiddleBottomComponent]="casePanelComponent"
      [TopComponent]="forgeViewerComponent" [BottomComponent]="newTaskComponent"
      [BottomData]="{ Type : 'new', Case : data.Case}" [TopData]="{ Model : data.Case, Type : 'Case' }"
      [MiddleData]="{ ParentId : data.Case.Id, Type : 'Case', Model : data.Case }" [MiddleBottomData]="{ Case : data.Case }"
      [UserId]="data.Case.UserId" [GroupId]="data.Case.GroupId"></app-animated-button>

  </div>
  <div class="case-date">
    <div class="date"> Data Początku: <strong>{{ data.Case.StartDate | date:'yyyy-MM-dd' }}</strong> </div>
    <div class="date" style="border-left: 1px solid #d4d4d4;"> Data Końca:
      <strong>{{ data.Case.EndDate | date:'yyyy-MM-dd' }}</strong> </div>
  </div>
  <div class="case-time">
    <app-time-bar [TimeEstimated]="data.Case.TimeEstimated" [TimeTaken]="data.Case.TimeTaken" [Width]="80">
    </app-time-bar>
  </div>
  <div class="case-tag" *ngIf="data.Case.CaseTagChild !== null">
    {{data.Case.CaseTagParent.Name}} -> {{data.Case.CaseTagChild.Name}}
    <app-tags-picker [CaseTagId]="data.Case.CaseTagParentId" [ShowCaseTags]="false" [TaskPaddingTop]="0">
    </app-tags-picker>
  </div>
  <div class="case-tag" *ngIf="data.Case.CaseTagChild === null">
    {{data.Case.CaseTagParent.Name}}
    <app-tags-picker [CaseTagId]="data.Case.CaseTagParentId" [ShowCaseTags]="false" [TaskPaddingTop]="0">
    </app-tags-picker>
  </div>
  <div class="tasks">
    <app-case-tasks-list [Tasks]="Tasks" [TasksType]="tasksType" [CaseId]="data.Case.Id"></app-case-tasks-list>
  </div>
</div>

<div class="case-header" *ngIf="!data.expanded">
  <div style="float: left; padding-top: 6px;">
    {{data.Case.Name}}
  </div>
  <fa-icon [icon]="faEdit" class="edit" (click)="editCase()"
    *ngIf="authService.roleMatch([rolesModel.Admin, rolesModel.ProjectManager])"></fa-icon>
  <fa-icon [icon]="faCopy" class="edit" (click)="copyCaseToTemplate()"
    *ngIf="authService.roleMatch([rolesModel.Admin, rolesModel.ProjectManager, rolesModel.TeamLeader])"></fa-icon>
  <div class="case-switch">
    <section style="float:right">
      <mat-slide-toggle class="example-margin" [checked]="tasksType" (change)="tasksType = !tasksType">
        Lista
      </mat-slide-toggle>
    </section>
  </div>
  <div class="status-icon">
    <fa-icon [icon]="faAngleDown" class="edit" style="float:left; padding-right: 10px; font-size: 20px"
      (click)="data.expanded = !data.expanded"></fa-icon>
    <fa-icon [icon]="faTrash" class="edit" style="float:left; padding-right: 10px; font-size: 20px"
      *appHasRole="[rolesModel.Admin, rolesModel.ProjectManager]" (click)="removeCase()"></fa-icon>
    <app-icon-popover style="float:left" [Icon]="faCertificate" [Color]="data.Case.Status.BackgroundColor" [Size]="22"
      [Text]="'Status'" [Width]='80' [Left]='80'></app-icon-popover>
  </div>
</div>
<div class="tasks" style="max-height: 90%" *ngIf="!data.expanded">
  <app-case-tasks-list [Tasks]="Tasks" [TasksType]="tasksType" [CaseId]="data.Case.Id"></app-case-tasks-list>
</div>