@keyframes case-visibility {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

  .case-header {
    background-color: #222222;
    padding: 10px;
    padding-right: 25px;
    color: white;
    position: relative;
    overflow: auto;
  }
  
  .case {
    border: 1px solid #d4d4d4;
    background-color: white;
    color: black;
    width: 100%;
    float: left;

  }
  
  .case-description {
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    position: relative;
    overflow: auto;
  }

  .case-time {
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    overflow: auto;
  }
  
  .case-company {
    background-color: #222222;
    padding: 10px;
    padding-right: 25px;
    color: white;
    position: relative;
    z-index: 3;
  }
  .case-user {
    background-color: white;
    color:  #222222;
    padding: 10px;
    float: right;
    width: 20%;
    height: 285px;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
  }
  
  .case-date {
    height: 40px;
    width: 80%;
    padding: 5px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    font-size: 13px;
    background-color: white;
    border: 1px solid #d4d4d4;
    border-top: none;
    color: #222222;
  }

    .case-switch {
      position: absolute;
      right: 100px;
      top: 15px;
    }

  .case-tag {
    height: 200px;
    width: 80%;
    border-top: none;
    float: left;
    text-align: center;
  }
  
  .case-description-button{
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 40px;
    height: 30px;
    font-size: 25px;
    background: white;
    text-align: center;
    color: #222222;
    cursor: pointer;
    z-index: 1;
    border-radius: 25px;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
  }
  
  .case-description-button:hover {
    background-color: #d4d4d4;
  }
  
  .date {
    float: left;
    width: 50%;
    text-align: center;
    height: 100%;
  }
  
  .priority-icon {
    position: absolute;
    right: 10px;
    bottom: 3px;
  }
  
  .status-icon {
    position: absolute;
    right: 5px;
    bottom: 10px;
  }
  
  
  @media (min-width: 960px) and (max-width: 1360px){
    .case-padding {
      width: 50%;
    }
  
  }
  
  //#small devices
  
  
  @media (max-width: 960px) {
  
    .case-date {
      height: 50px;
    }
  
    .case-padding {
      padding: 0;
      padding-top: 20px;
      width: 100%;
      height: 410px;
    }
    .case-container {
      width: 100%;
    }
    .case-user {
      width: 100%;
      height: 70px;
      text-align: left;
      border: none;
      border-bottom: 1px solid #d4d4d4;
    }
  
    .case {
      width: 100%;
      height: 220px;
      border: 0.5px solid #d4d4d4;
    }
  
    .time-end {
      text-align:left;
      font-size: 12px;
    }
  }
  
  .bordered-top {
    background-image: linear-gradient(to right, #045D56 20%, rgb(4, 134, 4) 20%, rgb(4, 134, 4) 60%, #1EB890 60%, #1EB890 80%, #045D56 80%);
    background-size: 100% 100%;
    width: 100%;
    height: 1px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
  }

  .tasks {
    width: 100%;
    overflow: auto;
    float: left;
    overflow-y: scroll;
    max-height: 60%;
    border-top: none;
  }
  
  .md-dialog-container { height: 90vh !important; top: 10vh !important; position: fixed !important; overflow-y: scroll !important }

  .edit {
    font-size:22px;
    float: left;
    padding-left: 5px;
    cursor: pointer;
    color: white;
  }