.filter-panel-topic {
    padding: 10px;
    background-color: #222222;
    color: white;
    border: 1px solid #d4d4d4;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #f047ff;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #9849c5;
}

/deep/ .mat-slide-toggle-bar {
    background-color: #d4d4d4;
}

.filter-panel-topic-padding {
    width: 100%;
    padding: 15px;
    padding-left: 0;
}

.filter-panel-buttons {
    width: 100%;
    overflow: auto;
}

.search-button {
    padding: 10px;
    background-color: #222222;
    color: white;
    border: 1px solid #d4d4d4;
    float: right;
}

.status-container {
    width: 100%;
    overflow: auto;
  }

.status {
    float: left;
    width: 150px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
  }

  .status:hover {
    border: 2px solid rgb(0, 0, 0);
  }

  .status-picked {
    float: left;
    width: 150px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
  }