<div class="filter-panel-topic-padding">
    <div class="filter-panel-topic">
        Tagi
        <section style="float:right">
            <mat-slide-toggle class="example-margin" [checked]="allowFilterTags" (change)="nullTags()">
                Filtruj Tagi
            </mat-slide-toggle>
        </section>
    </div>
</div>
<app-tags-picker *ngIf="allowFilterTags"></app-tags-picker>
<div class="filter-panel-topic-padding" *ngIf="data.ShowUsers">
    <div class="filter-panel-topic">
        Uzytkownicy i Grupy
        <section style="float:right">
            <mat-slide-toggle class="example-margin" [checked]="allowFilterUser" (change)="allowFilterUser = !allowFilterUser">
                Filtruj Użytkowników i Grupy
            </mat-slide-toggle>
        </section>
    </div>
</div>

<app-group-user-picker [ParentControl]="FilterForm" *ngIf="allowFilterUser && data.ShowUsers"></app-group-user-picker>

<div style="height: 100px; width: 100%; background-color: white" *ngIf="allowFilterUser">
</div>


<div class="filter-panel-topic-padding" *ngIf="data.ShowCases">
    <div class="filter-panel-topic">
        Projekty
        <section style="float:right">
            <mat-slide-toggle class="example-margin" [checked]="allowFilterCase" (change)="nullCase()">
                Filtruj Projekty
            </mat-slide-toggle>
        </section>
    </div>
</div>
<app-case-picker [ParentControl]="FilterForm" *ngIf="allowFilterCase && data.ShowCases"></app-case-picker>

<div *ngIf="allowFilterCase && data.ShowCases">
    Status:
    <div class="status-container">
        <div [ngClass]="{ 'status': null != filter.StatusId , 'status-picked': null == filter.StatusId }" class="default"
            (click)="changeStatus(null)">Wszystkie</div>
        <div *ngFor="let status of statuses" [ngClass]="{ 'status': status.Id != filter.StatusId , 'status-picked': status.Id == filter.StatusId }"
            [style.backgroundColor]="status.BackgroundColor" [style.color]="status.Color" (click)="changeStatus(status)">
            {{status.Name}}</div>
    </div>
</div>


<div class="filter-panel-buttons">
    <div class="search-button" (click)="submitFilters()">Szukaj</div>
</div>