<div class="case-time" [style.width.%]="Width">
  <div class="time-start">Czas Rzeczywisty</div>
  <div class="time-data"><strong> {{TimeTaken}} / {{TimeEstimated}} </strong></div>
  <div class="time-end">Czas Przewidywany</div>
  <div class="time-bar-padding">
    <div class="time-bar">
      <div class="time-bar-taken" [style.width.%]="percentageValue" [ngClass]="{ 'time-bar-taken': percentageValue <= 50, 'time-bar-taken-red' : percentageValue >= 80, 'time-bar-taken-yellow' : percentageValue > 50 && percentageValue < 80}"></div>
    </div>
  </div>
</div>