.case-time {
  height: 100%;
  float: left;
  background-color: white;
  border-top: none;
  color: #222222;
  text-align: center;
  font-size: 13px;
}

.time-bar-taken {
  height: 100%;
  background-color: rgb(4, 134, 4);
  float: left;
  border-radius: 7px;
}

.time-bar-taken-red {
    height: 100%;
    background-color: #FF6859;
    float: left;
    border-radius: 7px;
}

.time-bar-taken-yellow {
    height: 100%;
    background-color: #FFCF44;
    float: left;
    border-radius: 7px;
}

.time-bar {
  width: 100%;
  height: 100%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
}

.time-bar-padding {
  width: 100%;
  height: 20px;
  float: left;
  padding: 5px;
}

.time-data {
  height: 25px;
  width: 34%;
  float: left;
  padding: 5px;
  padding-bottom: 0px;
}

.time-start {
  padding: 5px;
  height: 25px;
  width: 33%;
  float: left;
  text-align: left;
  padding-bottom: 0px;
}

.time-end {
  padding: 5px;
  height: 25px;
  width: 33%;
  float: left;
  text-align: right;
  padding-bottom: 0px;
}
