<mat-form-field [formGroup]='ParentForm' style="width:100%">
    <input type="text" placeholder="Dodaj Klienta*" aria-label="Number" name="client" matInput formControlName="client" 
      [matAutocomplete]="auto" (input)="onFilterUsers($event.target.value)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let client of FilteredClientsAsync| async" [value]="client.Name" (onSelectionChange)="addClient($event, client)">
        <div style="float: left">{{client.Name}}</div>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-form-field [formGroup]='ParentForm' style="width:100%">
  <input type="text" placeholder="Dodaj Przedstawiciela" aria-label="Number" name="representative" matInput formControlName="representative" 
    [matAutocomplete]="autoRepresentative" (input)="onFilterRepresentatives($event.target.value)">
  <mat-autocomplete #autoRepresentative="matAutocomplete">
    <mat-option *ngFor="let client of FilteredRepresentativesAsync| async" [value]="client.Name" (onSelectionChange)="addRepresentative($event, client)">
      <div style="float: left">{{client.Name}} {{client.Surname}}</div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>