.left {
  width: 50%;
  float: left;
  overflow: auto;
  height: 500px;
}

.right {
  width: 50%;
  float: left;
  overflow: auto;
  height: 500px;
}

.status-container {
  width: 100%;
  overflow: auto;
}

.priority-container {
  width: 100%;
  overflow: auto;
}
.status {
  float: left;
  width: 150px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}

.priority {
  float: left;
  width: 150px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}

.status:hover {
  border: 2px solid rgb(0, 0, 0);
}

.priority:hover {
  border: 2px solid rgb(0, 0, 0);
}

.status-picked {
  float: left;
  width: 150px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
}

.priority-picked {
  float: left;
  width: 150px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
}

.topic {
  width: 100%;
  padding: 18px;
  color: white;
  background-color: #222222;
  background-image: linear-gradient(
    to right,
    #ff6859 15%,
    #ffcf44 15%,
    #ffcf44 40%,
    rgb(4, 134, 4) 40%,
    rgb(4, 134, 4) 85%,
    #ff6859 85%
  );
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.filters-container {
  width: 100%;
  padding-top: 30px;
  overflow: auto;
}

.time {
  width: 100%;
  height: 50px;
  float: left;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #ff6859 15%,
    #ffcf44 15%,
    #ffcf44 40%,
    rgb(4, 134, 4) 40%,
    rgb(4, 134, 4) 85%,
    #ff6859 85%
  );
  background-size: 100% 1.5px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.default {
  background-color: #222222;
  color: white;
}

.time-input {
  border: none;
  outline: none;
  margin-left: 5px;
}

.bordered-top {
  background-image: linear-gradient(
    to right,
    #045d56 20%,
    rgb(4, 134, 4) 20%,
    rgb(4, 134, 4) 60%,
    #1eb890 60%,
    #1eb890 80%,
    #045d56 80%
  );
  background-size: 100% 100%;
  width: 100%;
  height: 2px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.button {
  padding: 12px;
  background-color: #222222;
  color: white;
  cursor: pointer;
  float: right;
}

.button:hover {
  background-color: #d4d4d4;
}