<div class="topic">
  Filtry
</div>
<div class="filters-container">
  <div class="left">
    Status:
    <div class="status-container">
      <div [ngClass]="{ 'status': null != newFilter.StatusId , 'status-picked': null == newFilter.StatusId }" class="default"
        (click)="changeStatus(null)">Wszystkie</div>
      <div *ngFor="let status of statuses" [ngClass]="{ 'status': status.Id != newFilter.StatusId , 'status-picked': status.Id == newFilter.StatusId }"
        [style.backgroundColor]="status.BackgroundColor" [style.color]="status.Color" (click)="changeStatus(status.Id)">
        {{status.Name}}</div>
    </div>
    <div style="padding-top:20px;"> 
      <div class="time">
        <div style="padding-top:10px; width: 100%">
          Czas Rzeczywisty: <input type="number" name="TimeEstimated" class="time-input" id="TimeEstimated" [(ngModel)]="newFilter.TimeTaken" placeholder="Szacowany czas(h)" required NonNegative>
        </div>
      </div>
    </div>

    <mat-form-field style="float: left; width: 100%; padding: 10px">
      <input matInput [matDatepicker]="dp1" placeholder="Data Początku" disabled [(ngModel)]="newFilter.StartDate">
      <mat-datepicker-toggle style="color:black" matSuffix [for]="dp1" ></mat-datepicker-toggle>
      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
  </mat-form-field>

  

  </div>
  <div class="right">
    Priorytet:
    <div class="priority-container">
      <div [ngClass]="{ 'priority': null != newFilter.PriorityId , 'priority-picked': null == newFilter.PriorityId  }"
        class="default" (click)="changePriority(null)">Wszystkie</div>
      <div *ngFor="let priority of priorities" [ngClass]="{ 'priority': priority.Id != newFilter.PriorityId , 'priority-picked': priority.Id == newFilter.PriorityId  }"
        [style.backgroundColor]="priority.BackgroundColor" [style.color]="priority.Color" (click)="changePriority(priority.Id)">{{priority.Name}}</div>
    </div>
    <div style="padding-top:20px;"> 
      <div class="time">
        <div style="padding-top:10px; width: 100%">
          Czas Przewidywany: <input type="number" name="TimeEstimated" class="time-input" id="TimeEstimated" [(ngModel)]="newFilter.TimeEstimated"
            placeholder="Szacowany czas(h)" required NonNegative>
        </div>
      </div>
    </div>

    <mat-form-field style="float: left; width: 100%; padding: 10px">
      <input matInput [matDatepicker]="dp2" placeholder="Data Końca" disabled [(ngModel)]="newFilter.EndDate">
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
  </mat-form-field>
  </div>
</div>
<div style="width: 100%">
  <div class="button" (click)="applyFilters()">Filtruj</div>
</div>