<div><h3>Klient</h3></div>
<div style="width: 50%; padding: 10px; float: left;">
  <div>Nazwa: {{data.Client.Name}}</div>
  <div>Email: {{data.Client.Email}}</div>
</div>
<div style="width: 50%; padding: 10px; float: left;">
  <div>Numer Telefonu: {{data.Client.PhoneNumber}}</div>
  <div>Nip: {{data.Client.Nip}}</div>
</div>
<div><h3>Przedstawiciel</h3></div>
<div style="width: 50%; padding: 10px; float: left;">
    <div>Imię: {{data.Representative.Name}}</div>
    <div>Nazwisko: {{data.Representative.Surname}}</div>
</div>
<div style="width: 50%; padding: 10px; float: left;">
    <div>Numer Telefonu: {{data.Representative.Phone}}</div>
    <div>Email: {{data.Representative.Email}}</div>
</div>
