.client-form {
    width: 50%;
    float: left;
    padding: 5px;
    padding-top:10%;
}

mat-form-field {
    width: 100%;
}

.client-button {
    background-color: #222222;
    color: white;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    padding: 6px;
}

.client-button:hover {
    background-color: #d4d4d4;
    color: #222222;
}