/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-tree-component/dist/angular-tree-component.css";
/*
html, 
body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: white !important;
    background-image: linear-gradient(
    -45deg,
    rgb(216, 216, 216) 20%,
    transparent 20%,
    transparent 55%,
    rgb(216, 216, 216) 55%,
    rgb(216, 216, 216) 70%,
    transparent 70%,
    transparent
  );
  background-size: 4px 4px;
}
*/

body {
  color: white !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222222; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.mat-input-invalid .mat-input-placeholder {
  color: red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: red;
}

