
<div style="float: left; width: 100%; padding-bottom: 50px">
  <app-column-chart [BarData]="pickedTableData" [LabelName]="'ilość godzin'"></app-column-chart>
</div>

<div class="chart-picker">
  <mat-form-field style="width: 300px; padding-top: 15px">
    <mat-label>Nazwa Projektu</mat-label>
    <mat-select>
      <mat-option *ngFor="let tableData of TableData" (click)="changeSubTableData(tableData)" [value]="TableData">
        {{tableData.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div style="float: left; width: 100%; padding-bottom: 50px">
  <app-column-chart [BarData]="pickedSubTableData" [LabelName]="'ilość godzin'"></app-column-chart>
</div>
<div style="float: left; width: 100%; border-bottom: 2px solid #222222">
  <app-pie-chart></app-pie-chart>
</div>