.brd:hover {
    background-color: #ebebeb  !important;
    cursor: pointer !important;
}

.task {
    padding-bottom: 10px !important;
}

.brd {
    border-bottom:1px solid rgb(216, 216, 216) !important;
    padding: 5px !important;
}

.brd-picked {
    background-color: #ebebeb !important;
    padding: 5px !important;
}