<div style="width: 100%">
  <mat-accordion *ngFor="let caseTasks of casesWithTasks; let i = index" style="box-shadow: none !important; padding: 0px !important"> 
      <mat-expansion-panel [expanded]="caseTasks.expanded" (opened)="getTasks(caseTasks)" style="box-shadow: none !important; padding: 0px !important">
          <mat-expansion-panel-header style="box-shadow: none !important; padding-right: 8px !important; padding-left: 0px !important" (click)="caseTasks.expanded = !caseTasks.expanded">
              <mat-panel-title>
                  {{caseTasks.Case.Order}} {{caseTasks.Case.Name}}
              </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let task of caseTasks.Tasks" class="task">
              <div [ngClass]="{ 'brd-picked': task.Id == Task.Id, 'brd': task.Id != Task.Id }" (click)="changeTask(caseTasks.Case, task)">
                {{task.Order}} {{task.Name}}  Pozostały Czas: {{task.TimeEstimated - task.TimeTaken}}
              </div>
          </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>