.form {
    width: 100%;
}

.input {
    width: 50%;
    padding: 10px;
}

.picked-users-container {
    width: 100%;
    height: 200px;
    border: 1px solid #d4d4d4;
    overflow-y: scroll;
}

.picked-user {
    width: 100%;
    float: left;
    padding: 5px;
    text-align: center;
}