<section class="example-section" *ngIf="!ShowOnlyUser && !ShowOnlyGroup">
  <mat-slide-toggle class="example-margin" [checked]="checked" (change)="userGroupControl()">
    Grupy
  </mat-slide-toggle>
</section>

<mat-form-field *ngIf="!ShowOnlyGroup" [formGroup]='ParentControl' class="example-full-width" style="width: 50%; float: left;" >
  <input type="text" placeholder="Wybierz Użytkownika" aria-label="Number" matInput
  formControlName="user" [matAutocomplete]="user" (input)="onFilterUsers($event.target.value)">
  <mat-autocomplete #user="matAutocomplete">
    <mat-option *ngFor="let user of FilteredUsers | async" [value]="user.Name" (onSelectionChange)="addUser($event, user)">
      <div style="float: left">{{user.Name}}</div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field *ngIf="!ShowOnlyUser"  [formGroup]='ParentControl' class="example-full-width" style="width: 50%; float: left;">
  <input type="text" placeholder="Wybierz Grupę" aria-label="Number" matInput
  formControlName="group" [matAutocomplete]="group" (input)="onFilterGroups($event.target.value)">
  <mat-autocomplete #group="matAutocomplete">
    <mat-option *ngFor="let group of FilteredGroups | async" [value]="group.Name" (onSelectionChange)="addGroup($event, group)">
      <div style="float: left">{{group.Name}}</div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div class="picked-users-container" *ngIf="ShowUsers">
  <div class="picked-user" *ngFor="let user of PickedUsers">
    <div style="float:left">{{user.Name}}</div> <div><fa-icon style="float:right; cursor: pointer" (click)="removeUser(user)" [icon]='faMinus'></fa-icon></div>
  </div>
</div>