<form [formGroup]='NewClientForm'>
  <div class="client-form">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Imię">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="surname" matInput placeholder="Nazwisko">
    </mat-form-field>
  </div>
  <div class="client-form">
    <mat-form-field>
      <input formControlName="phone" matInput placeholder="Numer Telefonu" type='number'>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>
  </div>
</form>
<button class="client-button" style="float: left">Wyjdź</button>
<button class="client-button" style="float: right" (click)="addClient()" *ngIf="data.Type === 'new'">Dodaj</button>
<button class="client-button" style="float: right" (click)="addClient()" *ngIf="data.Type === 'edit'">edytuj</button>