<div class="ecp-header" style="width: 100%; float: left; position: relative;">
    <div style="float: left; padding-right: 20px;" *ngIf="Task.Case.Id !== null">Projekt: {{ Task.Case.Name }}</div>
    <div style="float: left" *ngIf="Task.Id !== null">Zadanie: {{ Task.Name }}</div>
    <div style="float: left; padding-right: 20px;" *ngIf="Task.Case.Id === null">Projekt: Czas poza zleceniem</div>
    <div style="float: left" *ngIf="Task.Id === null">Zadanie: Czas poza zleceniem</div>
  <div style="float: right">Data: {{data.Date | date:'yyyy-MM-dd'}}</div>
</div>
<div style="width: 100%; margin: 0; padding: 0; overflow: auto; padding-top: 20px">
  <div style="width: 30%; float:left">
      <app-ecp-cases-tasks [Task]="Task" [UserId]="UserId"></app-ecp-cases-tasks>
  </div>
  <div style="width: 70%; float: left; padding-right: 10px; padding-left: 10px;">
      <app-create-ecp [Ecps]="Ecps" [Task]="Task" [Date]="Date" [TodaysDate]="TodaysDate" [UserId]="UserId" [allowEdit]="allowEdit"></app-create-ecp>
  </div>
</div>

<div *ngIf="allowEdit" style='position: absolute; bottom:10%; right:7%;' class="ecp-button" (click)="reportTime()">Akceptuj</div>

