.ecp-button {
    padding: 10px;
    background-color: #222222;
    color: white;
    float: left;
    cursor: pointer;
}

.ecp-button:hover {
    background-color: #d4d4d4;
    color: #222222;
}

.ecp-header {
    background-color: #222222;
    color: white;
    padding: 15px;
}